In [1]:
! pip install yahoo_fin

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: yahoo_fin in /usr/local/lib/python3.10/dist-packages (0.8.9.1)
Requirement already satisfied: feedparser in /usr/local/lib/python3.10/dist-packages (from yahoo_fin) (6.0.10)
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (from yahoo_fin) (2.27.1)
Requirement already satisfied: requests-html in /usr/local/lib/python3.10/dist-packages (from yahoo_fin) (0.10.0)
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (from yahoo_fin) (1.5.3)
Requirement already satisfied: sgmllib3k in /usr/local/lib/python3.10/dist-packages (from feedparser->yahoo_fin) (1.0.0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas->yahoo_fin) (2022.7.1)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas->yahoo_fin) (2.8.2)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas->yahoo_fin) (1.22.4)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.10/dist-packages (from requests->yahoo_fin) (2.0.12)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests->yahoo_fin) (1.26.15)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests->yahoo_fin) (3.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests->yahoo_fin) (2022.12.7)
Requirement already satisfied: fake-useragent in /usr/local/lib/python3.10/dist-packages (from requests-html->yahoo_fin) (1.1.3)
Requirement already satisfied: bs4 in /usr/local/lib/python3.10/dist-packages (from requests-html->yahoo_fin) (0.0.1)
Requirement already satisfied: pyquery in /usr/local/lib/python3.10/dist-packages (from requests-html->yahoo_fin) (2.0.0)
Requirement already satisfied: w3lib in /usr/local/lib/python3.10/dist-packages (from requests-html->yahoo_fin) (2.1.1)
Requirement already satisfied: parse in /usr/local/lib/python3.10/dist-packages (from requests-html->yahoo_fin) (1.19.0)
Requirement already satisfied: pyppeteer>=0.0.14 in /usr/local/lib/python3.10/dist-packages (from requests-html->yahoo_fin) (1.0.2)
Requirement already satisfied: websockets<11.0,>=10.0 in /usr/local/lib/python3.10/dist-packages (from pyppeteer>=0.0.14->requests-html->yahoo_fin) (10.4)
Requirement already satisfied: appdirs<2.0.0,>=1.4.3 in /usr/local/lib/python3.10/dist-packages (from pyppeteer>=0.0.14->requests-html->yahoo_fin) (1.4.4)
Requirement already satisfied: tqdm<5.0.0,>=4.42.1 in /usr/local/lib/python3.10/dist-packages (from pyppeteer>=0.0.14->requests-html->yahoo_fin) (4.65.0)
Requirement already satisfied: importlib-metadata>=1.4 in /usr/local/lib/python3.10/dist-packages (from pyppeteer>=0.0.14->requests-html->yahoo_fin) (6.6.0)
Requirement already satisfied: pyee<9.0.0,>=8.1.0 in /usr/local/lib/python3.10/dist-packages (from pyppeteer>=0.0.14->requests-html->yahoo_fin) (8.2.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas->yahoo_fin) (1.16.0)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.10/dist-packages (from bs4->requests-html->yahoo_fin) (4.11.2)
Requirement already satisfied: cssselect>=1.2.0 in /usr/local/lib/python3.10/dist-packages (from pyquery->requests-html->yahoo_fin) (1.2.0)
Requirement already satisfied: lxml>=2.1 in /usr/local/lib/python3.10/dist-packages (from pyquery->requests-html->yahoo_fin) (4.9.2)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.10/dist-packages (from importlib-metadata>=1.4->pyppeteer>=0.0.14->requests-html->yahoo_fin) (3.15.0)
Requirement already satisfied: soupsieve>1.2 in /usr/local/lib/python3.10/dist-packages (from beautifulsoup4->bs4->requests-html->yahoo_fin) (2.4.1)

In [2]:
import pandas as pd
import yfinance as yf
from yahoo_fin import stock_info as si

#### **Отримуємо список тікерів, що входять до індексу SP500**

In [3]:
df_SP500 = pd.DataFrame( si.tickers_sp500() )
df_SP500

        0
0       A
1     AAL
2     AAP
3    AAPL
4    ABBV
..    ...
498   YUM
499   ZBH
500  ZBRA
501  ZION
502   ZTS

[503 rows x 1 columns]

In [4]:
df_SP500.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 503 entries, 0 to 502
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       503 non-null    object
dtypes: object(1)
memory usage: 4.1+ KB

In [5]:
ticker_list = df_SP500[df_SP500.columns[0]].values.tolist()
len(ticker_list)

503

In [6]:
ticker_list[0:5]

['A', 'AAL', 'AAP', 'AAPL', 'ABBV']

#### **Отримуємо інформацію про компанію (назва, галузь, капіталізація і т. д.) за тікером - на прикладі MSFT**

In [7]:
stock = yf.Ticker("MSFT")
stock.info

{'address1': 'One Microsoft Way',
 'city': 'Redmond',
 'state': 'WA',
 'zip': '98052-6399',
 'country': 'United States',
 'phone': '425 882 8080',
 'fax': '425 706 7329',
 'website': 'https://www.microsoft.com',
 'industry': 'Software—Infrastructure',
 'sector': 'Technology',
 'longBusinessSummary': 'Microsoft Corporation develops, licenses, and supports software, services, devices, and solutions worldwide. The company operates in three segments: Productivity and Business Processes, Intelligent Cloud, and More Personal Computing. The Productivity and Business Processes segment offers Office, Exchange, SharePoint, Microsoft Teams, Office 365 Security and Compliance, Microsoft Viva, and Skype for Business; Skype, Outlook.com, OneDrive, and LinkedIn; and Dynamics 365, a set of cloud-based and on-premises business solutions for organizations and enterprise divisions. The Intelligent Cloud segment licenses SQL, Windows Servers, Visual Studio, System Center, and related Client Access Licenses; GitHub that provides a collaboration platform and code hosting service for developers; Nuance provides healthcare and enterprise AI solutions; and Azure, a cloud platform. It also offers enterprise support, Microsoft consulting, and nuance professional services to assist customers in developing, deploying, and managing Microsoft server and desktop solutions; and training and certification on Microsoft products. The More Personal Computing segment provides Windows original equipment manufacturer (OEM) licensing and other non-volume licensing of the Windows operating system; Windows Commercial, such as volume licensing of the Windows operating system, Windows cloud services, and other Windows commercial offerings; patent licensing; and Windows Internet of Things. It also offers Surface, PC accessories, PCs, tablets, gaming and entertainment consoles, and other devices; Gaming, including Xbox hardware, and Xbox content and services; video games and third-party video game royalties; and Search, including Bing and Microsoft advertising. The company sells its products through OEMs, distributors, and resellers; and directly through digital marketplaces, online stores, and retail stores. Microsoft Corporation was founded in 1975 and is headquartered in Redmond, Washington.',
 'fullTimeEmployees': 221000,
 'companyOfficers': [{'maxAge': 1,
   'name': 'Mr. Satya  Nadella',
   'age': 55,
   'title': 'Chairman & CEO',
   'yearBorn': 1967,
   'fiscalYear': 2022,
   'totalPay': 12676750,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Bradford L. Smith LCA',
   'age': 63,
   'title': 'Pres & Vice Chairman',
   'yearBorn': 1959,
   'fiscalYear': 2022,
   'totalPay': 4655274,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Ms. Amy E. Hood',
   'age': 50,
   'title': 'Exec. VP & CFO',
   'yearBorn': 1972,
   'fiscalYear': 2022,
   'totalPay': 4637915,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Judson  Althoff',
   'age': 49,
   'title': 'Exec. VP & Chief Commercial Officer',
   'yearBorn': 1973,
   'fiscalYear': 2022,
   'totalPay': 4428268,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Christopher David Young',
   'age': 50,
   'title': 'Exec. VP of Bus. Devel., Strategy & Ventures',
   'yearBorn': 1972,
   'fiscalYear': 2022,
   'totalPay': 4588876,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Ms. Alice L. Jolla',
   'age': 55,
   'title': 'Corp. VP & Chief Accounting Officer',
   'yearBorn': 1967,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Brett  Iversen',
   'title': 'Gen. Mang. of Investor Relations',
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Frank X. Shaw',
   'title': 'Corp. VP for Corp. Communications',
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Christopher C. Capossela',
   'age': 52,
   'title': 'Exec. VP & Chief Marketing Officer',
   'yearBorn': 1970,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Keith Ranger Dolliver Esq.',
   'title': 'VP, Deputy Gen. Counsel of Corp., External & Legal Affairs and Assistant Sec.',
   'exercisedValue': 0,
   'unexercisedValue': 0}],
 'auditRisk': 6,
 'boardRisk': 5,
 'compensationRisk': 2,
 'shareHolderRightsRisk': 2,
 'overallRisk': 2,
 'governanceEpochDate': 1682899200,
 'compensationAsOfEpochDate': 1672444800,
 'maxAge': 86400,
 'priceHint': 2,
 'previousClose': 305.41,
 'open': 305.72,
 'dayLow': 304.27,
 'dayHigh': 311.97,
 'regularMarketPreviousClose': 305.41,
 'regularMarketOpen': 305.72,
 'regularMarketDayLow': 304.27,
 'regularMarketDayHigh': 311.97,
 'dividendRate': 2.72,
 'dividendYield': 0.0088,
 'exDividendDate': 1684281600,
 'payoutRatio': 0.28170002,
 'fiveYearAvgDividendYield': 1.1,
 'beta': 0.929757,
 'trailingPE': 33.656555,
 'forwardPE': 28.447802,
 'volume': 28197052,
 'regularMarketVolume': 28197052,
 'averageVolume': 30848353,
 'averageVolume10days': 34065210,
 'averageDailyVolume10Day': 34065210,
 'bid': 310.52,
 'ask': 310.65,
 'bidSize': 1200,
 'askSize': 900,
 'marketCap': 2309834932224,
 'fiftyTwoWeekLow': 213.43,
 'fiftyTwoWeekHigh': 311.97,
 'priceToSalesTrailing12Months': 11.126855,
 'fiftyDayAverage': 277.9898,
 'twoHundredDayAverage': 257.3318,
 'trailingAnnualDividendRate': 2.66,
 'trailingAnnualDividendYield': 0.008709604,
 'currency': 'USD',
 'enterpriseValue': 2284727304192,
 'profitMargins': 0.33248,
 'floatShares': 7428646926,
 'sharesOutstanding': 7435489792,
 'sharesShort': 40038879,
 'sharesShortPriorMonth': 35907039,
 'sharesShortPreviousMonthDate': 1678838400,
 'dateShortInterest': 1681430400,
 'sharesPercentSharesOut': 0.0054,
 'heldPercentInsiders': 0.00052,
 'heldPercentInstitutions': 0.73767,
 'shortRatio': 1.25,
 'shortPercentOfFloat': 0.0054,
 'impliedSharesOutstanding': 0,
 'bookValue': 26.178,
 'priceToBook': 11.866835,
 'lastFiscalYearEnd': 1656547200,
 'nextFiscalYearEnd': 1688083200,
 'mostRecentQuarter': 1680220800,
 'earningsQuarterlyGrowth': 0.094,
 'netIncomeToCommon': 69020000256,
 'trailingEps': 9.23,
 'forwardEps': 10.92,
 'pegRatio': 2.52,
 'lastSplitFactor': '2:1',
 'lastSplitDate': 1045526400,
 'enterpriseToRevenue': 11.006,
 'enterpriseToEbitda': 22.829,
 '52WeekChange': 0.17412508,
 'SandP52WeekChange': 0.03633201,
 'lastDividendValue': 0.68,
 'lastDividendDate': 1676419200,
 'exchange': 'NMS',
 'quoteType': 'EQUITY',
 'symbol': 'MSFT',
 'underlyingSymbol': 'MSFT',
 'shortName': 'Microsoft Corporation',
 'longName': 'Microsoft Corporation',
 'firstTradeDateEpochUtc': 511108200,
 'timeZoneFullName': 'America/New_York',
 'timeZoneShortName': 'EDT',
 'uuid': 'b004b3ec-de24-385e-b2c1-923f10d3fb62',
 'messageBoardId': 'finmb_21835',
 'gmtOffSetMilliseconds': -14400000,
 'currentPrice': 310.65,
 'targetHighPrice': 400.0,
 'targetLowPrice': 232.0,
 'targetMeanPrice': 328.71,
 'targetMedianPrice': 335.0,
 'recommendationMean': 1.8,
 'recommendationKey': 'buy',
 'numberOfAnalystOpinions': 45,
 'totalCash': 104419000320,
 'totalCashPerShare': 14.043,
 'ebitda': 100080001024,
 'totalDebt': 79312003072,
 'quickRatio': 1.655,
 'currentRatio': 1.913,
 'totalRevenue': 207590998016,
 'debtToEquity': 40.739,
 'revenuePerShare': 27.844,
 'returnOnAssets': 0.14829001,
 'returnOnEquity': 0.38601002,
 'grossProfits': 135620000000,
 'freeCashflow': 42964873216,
 'operatingCashflow': 83441000448,
 'earningsGrowth': 0.104,
 'revenueGrowth': 0.071,
 'grossMargins': 0.68522,
 'ebitdaMargins': 0.48209998,
 'operatingMargins': 0.41415,
 'financialCurrency': 'USD',
 'trailingPegRatio': 2.0698}

In [8]:
keys_to_extract = ['city','state','zip','website','industry','sector','longBusinessSummary',
                   'marketCap','shortName','longName','symbol','underlyingSymbol']
stock_filtered = dict(filter(lambda item: item[0] in keys_to_extract, stock.info.items()))
stock_filtered

{'city': 'Redmond',
 'state': 'WA',
 'zip': '98052-6399',
 'website': 'https://www.microsoft.com',
 'industry': 'Software—Infrastructure',
 'sector': 'Technology',
 'longBusinessSummary': 'Microsoft Corporation develops, licenses, and supports software, services, devices, and solutions worldwide. The company operates in three segments: Productivity and Business Processes, Intelligent Cloud, and More Personal Computing. The Productivity and Business Processes segment offers Office, Exchange, SharePoint, Microsoft Teams, Office 365 Security and Compliance, Microsoft Viva, and Skype for Business; Skype, Outlook.com, OneDrive, and LinkedIn; and Dynamics 365, a set of cloud-based and on-premises business solutions for organizations and enterprise divisions. The Intelligent Cloud segment licenses SQL, Windows Servers, Visual Studio, System Center, and related Client Access Licenses; GitHub that provides a collaboration platform and code hosting service for developers; Nuance provides healthcare and enterprise AI solutions; and Azure, a cloud platform. It also offers enterprise support, Microsoft consulting, and nuance professional services to assist customers in developing, deploying, and managing Microsoft server and desktop solutions; and training and certification on Microsoft products. The More Personal Computing segment provides Windows original equipment manufacturer (OEM) licensing and other non-volume licensing of the Windows operating system; Windows Commercial, such as volume licensing of the Windows operating system, Windows cloud services, and other Windows commercial offerings; patent licensing; and Windows Internet of Things. It also offers Surface, PC accessories, PCs, tablets, gaming and entertainment consoles, and other devices; Gaming, including Xbox hardware, and Xbox content and services; video games and third-party video game royalties; and Search, including Bing and Microsoft advertising. The company sells its products through OEMs, distributors, and resellers; and directly through digital marketplaces, online stores, and retail stores. Microsoft Corporation was founded in 1975 and is headquartered in Redmond, Washington.',
 'marketCap': 2309834932224,
 'symbol': 'MSFT',
 'underlyingSymbol': 'MSFT',
 'shortName': 'Microsoft Corporation',
 'longName': 'Microsoft Corporation'}

In [9]:
pd.options.display.max_colwidth = 5000

In [10]:
df_stock = pd.DataFrame(stock_filtered, index=[0])
df_stock

,city,state,zip,website,industry,sector,longBusinessSummary,marketCap,symbol,underlyingSymbol,shortName,longName
0,Redmond,WA,98052-6399,https://www.microsoft.com,Software—Infrastructure,Technology,"Microsoft Corporation develops, licenses, and supports software, services, devices, and solutions worldwide. The company operates in three segments: Productivity and Business Processes, Intelligent Cloud, and More Personal Computing. The Productivity and Business Processes segment offers Office, Exchange, SharePoint, Microsoft Teams, Office 365 Security and Compliance, Microsoft Viva, and Skype for Business; Skype, Outlook.com, OneDrive, and LinkedIn; and Dynamics 365, a set of cloud-based and on-premises business solutions for organizations and enterprise divisions. The Intelligent Cloud segment licenses SQL, Windows Servers, Visual Studio, System Center, and related Client Access Licenses; GitHub that provides a collaboration platform and code hosting service for developers; Nuance provides healthcare and enterprise AI solutions; and Azure, a cloud platform. It also offers enterprise support, Microsoft consulting, and nuance professional services to assist customers in developing, deploying, and managing Microsoft server and desktop solutions; and training and certification on Microsoft products. The More Personal Computing segment provides Windows original equipment manufacturer (OEM) licensing and other non-volume licensing of the Windows operating system; Windows Commercial, such as volume licensing of the Windows operating system, Windows cloud services, and other Windows commercial offerings; patent licensing; and Windows Internet of Things. It also offers Surface, PC accessories, PCs, tablets, gaming and entertainment consoles, and other devices; Gaming, including Xbox hardware, and Xbox content and services; video games and third-party video game royalties; and Search, including Bing and Microsoft advertising. The company sells its products through OEMs, distributors, and resellers; and directly through digital marketplaces, online stores, and retail stores. Microsoft Corporation was founded in 1975 and is headquartered in Redmond, Washington.",2309834932224,MSFT,MSFT,Microsoft Corporation,Microsoft Corporation

#### **Отримуємо інформацію по виплатах дивідендів (скореговану на спліти) - на прикладі MSFT**

In [11]:
stock.dividends

Date
2003-02-19 00:00:00-05:00    0.08
2003-10-15 00:00:00-04:00    0.16
2004-08-23 00:00:00-04:00    0.08
2004-11-15 00:00:00-05:00    3.08
2005-02-15 00:00:00-05:00    0.08
                             ...
2022-02-16 00:00:00-05:00    0.62
2022-05-18 00:00:00-04:00    0.62
2022-08-17 00:00:00-04:00    0.62
2022-11-16 00:00:00-05:00    0.68
2023-02-15 00:00:00-05:00    0.68
Name: Dividends, Length: 77, dtype: float64

In [12]:
df_dividends = stock.dividends.to_frame().reset_index()
df_dividends['Ticker'] = 'MSFT'
df_dividends

                        Date  Dividends Ticker
0  2003-02-19 00:00:00-05:00       0.08   MSFT
1  2003-10-15 00:00:00-04:00       0.16   MSFT
2  2004-08-23 00:00:00-04:00       0.08   MSFT
3  2004-11-15 00:00:00-05:00       3.08   MSFT
4  2005-02-15 00:00:00-05:00       0.08   MSFT
..                       ...        ...    ...
72 2022-02-16 00:00:00-05:00       0.62   MSFT
73 2022-05-18 00:00:00-04:00       0.62   MSFT
74 2022-08-17 00:00:00-04:00       0.62   MSFT
75 2022-11-16 00:00:00-05:00       0.68   MSFT
76 2023-02-15 00:00:00-05:00       0.68   MSFT

[77 rows x 3 columns]

In [13]:
df_dividends.shape[0]

77

#### **Повторюємо те ж саме, але для всіх акцій з SP500**

In [45]:
df_stock_final = pd.DataFrame()
df_dividend_final = pd.DataFrame()
i = 1

for ticker in ticker_list:
  stock = yf.Ticker(ticker)

  keys_to_extract = ['city','state','zip','website','industry','sector','longBusinessSummary',
                   'marketCap','shortName','longName','symbol','underlyingSymbol']
  stock_filtered = dict(filter(lambda item: item[0] in keys_to_extract, stock.info.items()))
  df_stock = pd.DataFrame(stock_filtered, index=[0])
  df_stock_final=pd.concat([df_stock_final, df_stock], ignore_index=True)

  df_dividends = stock.dividends.to_frame().reset_index()

  if df_dividends.shape[0] > 0:
    df_dividends['Ticker'] = ticker
    df_dividend_final=pd.concat([df_dividend_final, df_dividends], ignore_index=True)
  
  print(str(i) + '. '+ ticker + '. Stock data (rows): ' + str(df_stock.shape[0]) + '. Dividend data (rows): ' + str(df_dividends.shape[0]) + '.')
  i += 1

1. A. Stock data (rows): 1. Dividend data (rows): 46.
2. AAL. Stock data (rows): 1. Dividend data (rows): 23.
3. AAP. Stock data (rows): 1. Dividend data (rows): 69.
4. AAPL. Stock data (rows): 1. Dividend data (rows): 78.
5. ABBV. Stock data (rows): 1. Dividend data (rows): 42.
6. ABC. Stock data (rows): 1. Dividend data (rows): 87.
7. ABT. Stock data (rows): 1. Dividend data (rows): 162.
8. ACGL. Stock data (rows): 1. Dividend data (rows): 0.
9. ACN. Stock data (rows): 1. Dividend data (rows): 39.
10. ADBE. Stock data (rows): 1. Dividend data (rows): 63.
11. ADI. Stock data (rows): 1. Dividend data (rows): 78.
12. ADM. Stock data (rows): 1. Dividend data (rows): 160.
13. ADP. Stock data (rows): 1. Dividend data (rows): 160.
14. ADSK. Stock data (rows): 1. Dividend data (rows): 63.
15. AEE. Stock data (rows): 1. Dividend data (rows): 101.
16. AEP. Stock data (rows): 1. Dividend data (rows): 240.
17. AES. Stock data (rows): 1. Dividend data (rows): 48.
18. AFL. Stock data (rows): 1. Dividend data (rows): 155.
19. AIG. Stock data (rows): 1. Dividend data (rows): 137.
20. AIZ. Stock data (rows): 1. Dividend data (rows): 76.
21. AJG. Stock data (rows): 1. Dividend data (rows): 138.
22. AKAM. Stock data (rows): 1. Dividend data (rows): 0.
23. ALB. Stock data (rows): 1. Dividend data (rows): 118.
24. ALGN. Stock data (rows): 1. Dividend data (rows): 0.
25. ALK. Stock data (rows): 1. Dividend data (rows): 65.
26. ALL. Stock data (rows): 1. Dividend data (rows): 119.
27. ALLE. Stock data (rows): 1. Dividend data (rows): 36.
28. AMAT. Stock data (rows): 1. Dividend data (rows): 72.
29. AMCR. Stock data (rows): 1. Dividend data (rows): 26.
30. AMD. Stock data (rows): 1. Dividend data (rows): 0.
31. AME. Stock data (rows): 1. Dividend data (rows): 155.
32. AMGN. Stock data (rows): 1. Dividend data (rows): 47.
33. AMP. Stock data (rows): 1. Dividend data (rows): 71.
34. AMT. Stock data (rows): 1. Dividend data (rows): 46.
35. AMZN. Stock data (rows): 1. Dividend data (rows): 0.
36. ANET. Stock data (rows): 1. Dividend data (rows): 0.
37. ANSS. Stock data (rows): 1. Dividend data (rows): 0.
38. AON. Stock data (rows): 1. Dividend data (rows): 150.
39. AOS. Stock data (rows): 1. Dividend data (rows): 151.
40. APA. Stock data (rows): 1. Dividend data (rows): 164.
41. APD. Stock data (rows): 1. Dividend data (rows): 159.
42. APH. Stock data (rows): 1. Dividend data (rows): 73.
43. APTV. Stock data (rows): 1. Dividend data (rows): 27.
44. ARE. Stock data (rows): 1. Dividend data (rows): 101.
45. ATO. Stock data (rows): 1. Dividend data (rows): 134.
46. ATVI. Stock data (rows): 1. Dividend data (rows): 13.
47. AVB. Stock data (rows): 1. Dividend data (rows): 100.
48. AVGO. Stock data (rows): 1. Dividend data (rows): 50.
49. AVY. Stock data (rows): 1. Dividend data (rows): 142.
50. AWK. Stock data (rows): 1. Dividend data (rows): 59.
51. AXON. Stock data (rows): 1. Dividend data (rows): 0.
52. AXP. Stock data (rows): 1. Dividend data (rows): 186.
53. AZO. Stock data (rows): 1. Dividend data (rows): 0.
54. BA. Stock data (rows): 1. Dividend data (rows): 228.
55. BAC. Stock data (rows): 1. Dividend data (rows): 148.
56. BALL. Stock data (rows): 1. Dividend data (rows): 152.
57. BAX. Stock data (rows): 1. Dividend data (rows): 146.
58. BBWI. Stock data (rows): 1. Dividend data (rows): 154.
59. BBY. Stock data (rows): 1. Dividend data (rows): 79.
60. BDX. Stock data (rows): 1. Dividend data (rows): 162.
61. BEN. Stock data (rows): 1. Dividend data (rows): 148.
62. BF-B. Stock data (rows): 1. Dividend data (rows): 148.
63. BG. Stock data (rows): 1. Dividend data (rows): 85.
64. BIIB. Stock data (rows): 1. Dividend data (rows): 0.
65. BIO. Stock data (rows): 1. Dividend data (rows): 0.
66. BK. Stock data (rows): 1. Dividend data (rows): 144.
67. BKNG. Stock data (rows): 1. Dividend data (rows): 0.
68. BKR. Stock data (rows): 1. Dividend data (rows): 144.
69. BLK. Stock data (rows): 1. Dividend data (rows): 79.
70. BMY. Stock data (rows): 1. Dividend data (rows): 203.
71. BR. Stock data (rows): 1. Dividend data (rows): 64.
72. BRK-B. Stock data (rows): 1. Dividend data (rows): 0.
73. BRO. Stock data (rows): 1. Dividend data (rows): 146.
74. BSX. Stock data (rows): 1. Dividend data (rows): 0.
75. BWA. Stock data (rows): 1. Dividend data (rows): 100.
76. BXP. Stock data (rows): 1. Dividend data (rows): 103.
77. C. Stock data (rows): 1. Dividend data (rows): 138.
78. CAG. Stock data (rows): 1. Dividend data (rows): 153.
79. CAH. Stock data (rows): 1. Dividend data (rows): 147.
80. CARR. Stock data (rows): 1. Dividend data (rows): 12.
81. CAT. Stock data (rows): 1. Dividend data (rows): 197.
82. CB. Stock data (rows): 1. Dividend data (rows): 121.
83. CBOE. Stock data (rows): 1. Dividend data (rows): 34.
84. CBRE. Stock data (rows): 1. Dividend data (rows): 0.
85. CCI. Stock data (rows): 1. Dividend data (rows): 37.
86. CCL. Stock data (rows): 1. Dividend data (rows): 127.
87. CDAY. Stock data (rows): 1. Dividend data (rows): 0.
88. CDNS. Stock data (rows): 1. Dividend data (rows): 0.
89. CDW. Stock data (rows): 1. Dividend data (rows): 38.
90. CE. Stock data (rows): 1. Dividend data (rows): 72.
91. CEG. Stock data (rows): 1. Dividend data (rows): 5.
92. CF. Stock data (rows): 1. Dividend data (rows): 70.
93. CFG. Stock data (rows): 1. Dividend data (rows): 35.
94. CHD. Stock data (rows): 1. Dividend data (rows): 132.
95. CHRW. Stock data (rows): 1. Dividend data (rows): 104.
96. CHTR. Stock data (rows): 1. Dividend data (rows): 0.
97. CI. Stock data (rows): 1. Dividend data (rows): 125.
98. CINF. Stock data (rows): 1. Dividend data (rows): 148.
99. CL. Stock data (rows): 1. Dividend data (rows): 200.
100. CLX. Stock data (rows): 1. Dividend data (rows): 161.
101. CMA. Stock data (rows): 1. Dividend data (rows): 146.
102. CMCSA. Stock data (rows): 1. Dividend data (rows): 108.
103. CME. Stock data (rows): 1. Dividend data (rows): 93.
104. CMG. Stock data (rows): 1. Dividend data (rows): 0.
105. CMI. Stock data (rows): 1. Dividend data (rows): 154.
106. CMS. Stock data (rows): 1. Dividend data (rows): 121.
107. CNC. Stock data (rows): 1. Dividend data (rows): 0.
108. CNP. Stock data (rows): 1. Dividend data (rows): 247.
109. COF. Stock data (rows): 1. Dividend data (rows): 112.
110. COO. Stock data (rows): 1. Dividend data (rows): 64.
111. COP. Stock data (rows): 1. Dividend data (rows): 171.
112. COST. Stock data (rows): 1. Dividend data (rows): 81.
113. CPB. Stock data (rows): 1. Dividend data (rows): 153.
114. CPRT. Stock data (rows): 1. Dividend data (rows): 0.
115. CPT. Stock data (rows): 1. Dividend data (rows): 120.
116. CRL. Stock data (rows): 1. Dividend data (rows): 0.
117. CRM. Stock data (rows): 1. Dividend data (rows): 0.
118. CSCO. Stock data (rows): 1. Dividend data (rows): 49.
119. CSGP. Stock data (rows): 1. Dividend data (rows): 0.
120. CSX. Stock data (rows): 1. Dividend data (rows): 170.
121. CTAS. Stock data (rows): 1. Dividend data (rows): 44.
122. CTLT. Stock data (rows): 1. Dividend data (rows): 0.
123. CTRA. Stock data (rows): 1. Dividend data (rows): 133.
124. CTSH. Stock data (rows): 1. Dividend data (rows): 24.
125. CTVA. Stock data (rows): 1. Dividend data (rows): 15.
126. CVS. Stock data (rows): 1. Dividend data (rows): 155.
127. CVX. Stock data (rows): 1. Dividend data (rows): 215.
128. CZR. Stock data (rows): 1. Dividend data (rows): 0.
129. D. Stock data (rows): 1. Dividend data (rows): 154.
130. DAL. Stock data (rows): 1. Dividend data (rows): 27.
131. DD. Stock data (rows): 1. Dividend data (rows): 205.
132. DE. Stock data (rows): 1. Dividend data (rows): 203.
133. DFS. Stock data (rows): 1. Dividend data (rows): 62.
134. DG. Stock data (rows): 1. Dividend data (rows): 33.
135. DGX. Stock data (rows): 1. Dividend data (rows): 78.
136. DHI. Stock data (rows): 1. Dividend data (rows): 104.
137. DHR. Stock data (rows): 1. Dividend data (rows): 121.
138. DIS. Stock data (rows): 1. Dividend data (rows): 124.
139. DISH. Stock data (rows): 1. Dividend data (rows): 5.
140. DLR. Stock data (rows): 1. Dividend data (rows): 74.
141. DLTR. Stock data (rows): 1. Dividend data (rows): 0.
142. DOV. Stock data (rows): 1. Dividend data (rows): 162.
143. DOW. Stock data (rows): 1. Dividend data (rows): 16.
144. DPZ. Stock data (rows): 1. Dividend data (rows): 52.
145. DRI. Stock data (rows): 1. Dividend data (rows): 85.
146. DTE. Stock data (rows): 1. Dividend data (rows): 246.
147. DUK. Stock data (rows): 1. Dividend data (rows): 160.
148. DVA. Stock data (rows): 1. Dividend data (rows): 0.
149. DVN. Stock data (rows): 1. Dividend data (rows): 122.
150. DXC. Stock data (rows): 1. Dividend data (rows): 42.
151. DXCM. Stock data (rows): 1. Dividend data (rows): 0.
152. EA. Stock data (rows): 1. Dividend data (rows): 10.
153. EBAY. Stock data (rows): 1. Dividend data (rows): 17.
154. ECL. Stock data (rows): 1. Dividend data (rows): 146.
155. ED. Stock data (rows): 1. Dividend data (rows): 242.
156. EFX. Stock data (rows): 1. Dividend data (rows): 145.
157. EIX. Stock data (rows): 1. Dividend data (rows): 185.
158. EL. Stock data (rows): 1. Dividend data (rows): 77.
159. ELV. Stock data (rows): 1. Dividend data (rows): 49.
160. EMN. Stock data (rows): 1. Dividend data (rows): 117.
161. EMR. Stock data (rows): 1. Dividend data (rows): 203.
162. ENPH. Stock data (rows): 1. Dividend data (rows): 0.
163. EOG. Stock data (rows): 1. Dividend data (rows): 140.
164. EPAM. Stock data (rows): 1. Dividend data (rows): 0.
165. EQIX. Stock data (rows): 1. Dividend data (rows): 35.
166. EQR. Stock data (rows): 1. Dividend data (rows): 121.
167. EQT. Stock data (rows): 1. Dividend data (rows): 138.
168. ES. Stock data (rows): 1. Dividend data (rows): 145.
169. ESS. Stock data (rows): 1. Dividend data (rows): 111.
170. ETN. Stock data (rows): 1. Dividend data (rows): 202.
171. ETR. Stock data (rows): 1. Dividend data (rows): 192.
172. ETSY. Stock data (rows): 1. Dividend data (rows): 0.
173. EVRG. Stock data (rows): 1. Dividend data (rows): 147.
174. EW. Stock data (rows): 1. Dividend data (rows): 0.
175. EXC. Stock data (rows): 1. Dividend data (rows): 201.
176. EXPD. Stock data (rows): 1. Dividend data (rows): 60.
177. EXPE. Stock data (rows): 1. Dividend data (rows): 43.
178. EXR. Stock data (rows): 1. Dividend data (rows): 73.
179. F. Stock data (rows): 1. Dividend data (rows): 172.
180. FANG. Stock data (rows): 1. Dividend data (rows): 20.
181. FAST. Stock data (rows): 1. Dividend data (rows): 82.
182. FCX. Stock data (rows): 1. Dividend data (rows): 88.
183. FDS. Stock data (rows): 1. Dividend data (rows): 98.
184. FDX. Stock data (rows): 1. Dividend data (rows): 84.
185. FE. Stock data (rows): 1. Dividend data (rows): 105.
186. FFIV. Stock data (rows): 1. Dividend data (rows): 0.
187. FICO. Stock data (rows): 1. Dividend data (rows): 100.
188. FIS. Stock data (rows): 1. Dividend data (rows): 81.
189. FISV. Stock data (rows): 1. Dividend data (rows): 0.
190. FITB. Stock data (rows): 1. Dividend data (rows): 147.
191. FLT. Stock data (rows): 1. Dividend data (rows): 0.
192. FMC. Stock data (rows): 1. Dividend data (rows): 73.
193. FOX. Stock data (rows): 1. Dividend data (rows): 9.
194. FOXA. Stock data (rows): 1. Dividend data (rows): 9.
195. FRT. Stock data (rows): 1. Dividend data (rows): 143.
196. FSLR. Stock data (rows): 1. Dividend data (rows): 0.
197. FTNT. Stock data (rows): 1. Dividend data (rows): 0.
198. FTV. Stock data (rows): 1. Dividend data (rows): 27.
199. GD. Stock data (rows): 1. Dividend data (rows): 203.
200. GE. Stock data (rows): 1. Dividend data (rows): 245.
201. GEHC. Stock data (rows): 1. Dividend data (rows): 0.
202. GEN. Stock data (rows): 1. Dividend data (rows): 42.
203. GILD. Stock data (rows): 1. Dividend data (rows): 32.
204. GIS. Stock data (rows): 1. Dividend data (rows): 159.
205. GL. Stock data (rows): 1. Dividend data (rows): 147.
206. GLW. Stock data (rows): 1. Dividend data (rows): 142.
207. GM. Stock data (rows): 1. Dividend data (rows): 28.
208. GNRC. Stock data (rows): 1. Dividend data (rows): 2.
209. GOOG. Stock data (rows): 1. Dividend data (rows): 0.
210. GOOGL. Stock data (rows): 1. Dividend data (rows): 0.
211. GPC. Stock data (rows): 1. Dividend data (rows): 159.
212. GPN. Stock data (rows): 1. Dividend data (rows): 88.
213. GRMN. Stock data (rows): 1. Dividend data (rows): 56.
214. GS. Stock data (rows): 1. Dividend data (rows): 96.
215. GWW. Stock data (rows): 1. Dividend data (rows): 154.
216. HAL. Stock data (rows): 1. Dividend data (rows): 204.
217. HAS. Stock data (rows): 1. Dividend data (rows): 144.
218. HBAN. Stock data (rows): 1. Dividend data (rows): 151.
219. HCA. Stock data (rows): 1. Dividend data (rows): 23.
220. HD. Stock data (rows): 1. Dividend data (rows): 143.
221. HES. Stock data (rows): 1. Dividend data (rows): 155.
222. HIG. Stock data (rows): 1. Dividend data (rows): 109.
223. HII. Stock data (rows): 1. Dividend data (rows): 42.
224. HLT. Stock data (rows): 1. Dividend data (rows): 23.
225. HOLX. Stock data (rows): 1. Dividend data (rows): 0.
226. HON. Stock data (rows): 1. Dividend data (rows): 244.
227. HPE. Stock data (rows): 1. Dividend data (rows): 30.
228. HPQ. Stock data (rows): 1. Dividend data (rows): 209.
229. HRL. Stock data (rows): 1. Dividend data (rows): 147.
230. HSIC. Stock data (rows): 1. Dividend data (rows): 0.
231. HST. Stock data (rows): 1. Dividend data (rows): 118.
232. HSY. Stock data (rows): 1. Dividend data (rows): 151.
233. HUM. Stock data (rows): 1. Dividend data (rows): 93.
234. HWM. Stock data (rows): 1. Dividend data (rows): 22.
235. IBM. Stock data (rows): 1. Dividend data (rows): 243.
236. ICE. Stock data (rows): 1. Dividend data (rows): 38.
237. IDXX. Stock data (rows): 1. Dividend data (rows): 0.
238. IEX. Stock data (rows): 1. Dividend data (rows): 113.
239. IFF. Stock data (rows): 1. Dividend data (rows): 194.
240. ILMN. Stock data (rows): 1. Dividend data (rows): 0.
241. INCY. Stock data (rows): 1. Dividend data (rows): 0.
242. INTC. Stock data (rows): 1. Dividend data (rows): 123.
243. INTU. Stock data (rows): 1. Dividend data (rows): 47.
244. INVH. Stock data (rows): 1. Dividend data (rows): 24.
245. IP. Stock data (rows): 1. Dividend data (rows): 244.
246. IPG. Stock data (rows): 1. Dividend data (rows): 113.
247. IQV. Stock data (rows): 1. Dividend data (rows): 0.
248. IR. Stock data (rows): 1. Dividend data (rows): 6.
249. IRM. Stock data (rows): 1. Dividend data (rows): 56.
250. ISRG. Stock data (rows): 1. Dividend data (rows): 0.
251. IT. Stock data (rows): 1. Dividend data (rows): 1.
252. ITW. Stock data (rows): 1. Dividend data (rows): 146.
253. IVZ. Stock data (rows): 1. Dividend data (rows): 85.
254. J. Stock data (rows): 1. Dividend data (rows): 25.
255. JBHT. Stock data (rows): 1. Dividend data (rows): 130.
256. JCI. Stock data (rows): 1. Dividend data (rows): 144.
257. JKHY. Stock data (rows): 1. Dividend data (rows): 128.
258. JNJ. Stock data (rows): 1. Dividend data (rows): 245.
259. JNPR. Stock data (rows): 1. Dividend data (rows): 35.
260. JPM. Stock data (rows): 1. Dividend data (rows): 158.
261. K. Stock data (rows): 1. Dividend data (rows): 154.
262. KDP. Stock data (rows): 1. Dividend data (rows): 54.
263. KEY. Stock data (rows): 1. Dividend data (rows): 141.
264. KEYS. Stock data (rows): 1. Dividend data (rows): 0.
265. KHC. Stock data (rows): 1. Dividend data (rows): 32.
266. KIM. Stock data (rows): 1. Dividend data (rows): 127.
267. KLAC. Stock data (rows): 1. Dividend data (rows): 73.
268. KMB. Stock data (rows): 1. Dividend data (rows): 154.
269. KMI. Stock data (rows): 1. Dividend data (rows): 49.
270. KMX. Stock data (rows): 1. Dividend data (rows): 0.
271. KO. Stock data (rows): 1. Dividend data (rows): 244.
272. KR. Stock data (rows): 1. Dividend data (rows): 171.
273. L. Stock data (rows): 1. Dividend data (rows): 147.
274. LDOS. Stock data (rows): 1. Dividend data (rows): 47.
275. LEN. Stock data (rows): 1. Dividend data (rows): 148.
276. LH. Stock data (rows): 1. Dividend data (rows): 18.
277. LHX. Stock data (rows): 1. Dividend data (rows): 167.
278. LIN. Stock data (rows): 1. Dividend data (rows): 123.
279. LKQ. Stock data (rows): 1. Dividend data (rows): 6.
280. LLY. Stock data (rows): 1. Dividend data (rows): 203.
281. LMT. Stock data (rows): 1. Dividend data (rows): 156.
282. LNC. Stock data (rows): 1. Dividend data (rows): 152.
283. LNT. Stock data (rows): 1. Dividend data (rows): 146.
284. LOW. Stock data (rows): 1. Dividend data (rows): 152.
285. LRCX. Stock data (rows): 1. Dividend data (rows): 36.
286. LUV. Stock data (rows): 1. Dividend data (rows): 163.
287. LVS. Stock data (rows): 1. Dividend data (rows): 34.
288. LW. Stock data (rows): 1. Dividend data (rows): 26.
289. LYB. Stock data (rows): 1. Dividend data (rows): 47.
290. LYV. Stock data (rows): 1. Dividend data (rows): 0.
291. MA. Stock data (rows): 1. Dividend data (rows): 67.
292. MAA. Stock data (rows): 1. Dividend data (rows): 117.
293. MAR. Stock data (rows): 1. Dividend data (rows): 90.
294. MAS. Stock data (rows): 1. Dividend data (rows): 159.
295. MCD. Stock data (rows): 1. Dividend data (rows): 165.
296. MCHP. Stock data (rows): 1. Dividend data (rows): 82.
297. MCK. Stock data (rows): 1. Dividend data (rows): 114.
298. MCO. Stock data (rows): 1. Dividend data (rows): 90.
299. MDLZ. Stock data (rows): 1. Dividend data (rows): 87.
300. MDT. Stock data (rows): 1. Dividend data (rows): 166.
301. MET. Stock data (rows): 1. Dividend data (rows): 54.
302. META. Stock data (rows): 1. Dividend data (rows): 0.
303. MGM. Stock data (rows): 1. Dividend data (rows): 26.
304. MHK. Stock data (rows): 1. Dividend data (rows): 0.
305. MKC. Stock data (rows): 1. Dividend data (rows): 146.
306. MKTX. Stock data (rows): 1. Dividend data (rows): 54.
307. MLM. Stock data (rows): 1. Dividend data (rows): 115.
308. MMC. Stock data (rows): 1. Dividend data (rows): 162.
309. MMM. Stock data (rows): 1. Dividend data (rows): 243.
310. MNST. Stock data (rows): 1. Dividend data (rows): 1.
311. MO. Stock data (rows): 1. Dividend data (rows): 246.
312. MOH. Stock data (rows): 1. Dividend data (rows): 0.
313. MOS. Stock data (rows): 1. Dividend data (rows): 117.
314. MPC. Stock data (rows): 1. Dividend data (rows): 47.
315. MPWR. Stock data (rows): 1. Dividend data (rows): 37.
316. MRK. Stock data (rows): 1. Dividend data (rows): 242.
317. MRNA. Stock data (rows): 1. Dividend data (rows): 0.
318. MRO. Stock data (rows): 1. Dividend data (rows): 237.
319. MS. Stock data (rows): 1. Dividend data (rows): 122.
320. MSCI. Stock data (rows): 1. Dividend data (rows): 34.
321. MSFT. Stock data (rows): 1. Dividend data (rows): 77.
322. MSI. Stock data (rows): 1. Dividend data (rows): 234.
323. MTB. Stock data (rows): 1. Dividend data (rows): 145.
324. MTCH. Stock data (rows): 1. Dividend data (rows): 18.
325. MTD. Stock data (rows): 1. Dividend data (rows): 0.
326. MU. Stock data (rows): 1. Dividend data (rows): 20.
327. NCLH. Stock data (rows): 1. Dividend data (rows): 0.
328. NDAQ. Stock data (rows): 1. Dividend data (rows): 43.
329. NDSN. Stock data (rows): 1. Dividend data (rows): 145.
330. NEE. Stock data (rows): 1. Dividend data (rows): 160.
331. NEM. Stock data (rows): 1. Dividend data (rows): 148.
332. NFLX. Stock data (rows): 1. Dividend data (rows): 0.
333. NI. Stock data (rows): 1. Dividend data (rows): 148.
334. NKE. Stock data (rows): 1. Dividend data (rows): 143.
335. NOC. Stock data (rows): 1. Dividend data (rows): 166.
336. NOW. Stock data (rows): 1. Dividend data (rows): 0.
337. NRG. Stock data (rows): 1. Dividend data (rows): 44.
338. NSC. Stock data (rows): 1. Dividend data (rows): 165.
339. NTAP. Stock data (rows): 1. Dividend data (rows): 40.
340. NTRS. Stock data (rows): 1. Dividend data (rows): 146.
341. NUE. Stock data (rows): 1. Dividend data (rows): 159.
342. NVDA. Stock data (rows): 1. Dividend data (rows): 42.
343. NVR. Stock data (rows): 1. Dividend data (rows): 10.
344. NWL. Stock data (rows): 1. Dividend data (rows): 145.

In [46]:
df_stock_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 503 entries, 0 to 502
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   city                 502 non-null    object
 1   state                481 non-null    object
 2   zip                  501 non-null    object
 3   website              502 non-null    object
 4   industry             502 non-null    object
 5   sector               502 non-null    object
 6   longBusinessSummary  502 non-null    object
 7   marketCap            503 non-null    int64
 8   symbol               503 non-null    object
 9   underlyingSymbol     503 non-null    object
 10  shortName            503 non-null    object
 11  longName             503 non-null    object
dtypes: int64(1), object(11)
memory usage: 47.3+ KB

In [47]:
df_dividend_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46335 entries, 0 to 46334
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       46335 non-null  datetime64[ns, America/New_York]
 1   Dividends  46335 non-null  float64
 2   Ticker     46335 non-null  object
dtypes: datetime64[ns, America/New_York](1), float64(1), object(1)
memory usage: 1.1+ MB

In [48]:
df_dividend_final

                           Date  Dividends Ticker
0     2006-11-01 00:00:00-05:00   1.471388      A
1     2012-03-30 00:00:00-04:00   0.071531      A
2     2012-06-29 00:00:00-04:00   0.071531      A
3     2012-09-28 00:00:00-04:00   0.071531      A
4     2012-12-27 00:00:00-05:00   0.071531      A
...                         ...        ...    ...
46330 2022-04-20 00:00:00-04:00   0.325000    ZTS
46331 2022-07-20 00:00:00-04:00   0.325000    ZTS
46332 2022-10-31 00:00:00-04:00   0.325000    ZTS
46333 2023-01-19 00:00:00-05:00   0.375000    ZTS
46334 2023-04-20 00:00:00-04:00   0.375000    ZTS

[46335 rows x 3 columns]

In [49]:
df_stock_final.tail(2)

,city,state,zip,website,industry,sector,longBusinessSummary,marketCap,symbol,underlyingSymbol,shortName,longName
501,Salt Lake City,UT,84133-1109,https://www.zionsbancorporation.com,Banks—Regional,Financial Services,"Zions Bancorporation, National Association provides various banking and related services primarily in the states of Arizona, California, Colorado, Idaho, Nevada, New Mexico, Oregon, Texas, Utah, Washington, and Wyoming. The company offers corporate banking services; commercial banking, including a focus on small- and medium-sized businesses; commercial real estate banking services; municipal and public finance services; retail banking, including residential mortgages; trust services; wealth management and private client banking services; and capital markets products and services. The company was formerly known as ZB, National Association and changed its name to Zions Bancorporation, National Association in September 2018. Zions Bancorporation, National Association was founded in 1873 and is headquartered in Salt Lake City, Utah.",3518855936,ZION,ZION,Zions Bancorporation N.A.,"Zions Bancorporation, National Association"
502,Parsippany,NJ,07054,https://www.zoetis.com,Drug Manufacturers—Specialty & Generic,Healthcare,"Zoetis Inc. discovers, develops, manufactures, and commercializes animal health medicines, vaccines, and diagnostic products in the United States and internationally. It commercializes products primarily across species, including livestock, such as cattle, swine, poultry, fish, and sheep and others; and companion animals comprising dogs, cats, and horses. The company also offers parasiticides; vaccines; anti-infectives; other pharmaceutical products; dermatology; and medicated feed additives. In addition, the company provides animal health diagnostics, including point-of-care diagnostic products and laboratory; and other non-pharmaceutical products. It markets its products to veterinarians, livestock producers, and pet owners. The company was founded in 1952 and is headquartered in Parsippany, New Jersey.",86142361600,ZTS,ZTS,Zoetis Inc.,Zoetis Inc.

In [40]:
df_dividend_final['Date'] = pd.to_datetime( df_dividend_final['Date'], errors='coerce',utc=True)

In [41]:
df_dividend_final['Date'] = df_dividend_final['Date'].dt.date

In [43]:
df_dividend_final

             Date  Dividends Ticker
0      2006-11-01   1.471388      A
1      2012-03-30   0.071531      A
2      2012-06-29   0.071531      A
3      2012-09-28   0.071531      A
4      2012-12-27   0.071531      A
...           ...        ...    ...
46330  2022-04-20   0.325000    ZTS
46331  2022-07-20   0.325000    ZTS
46332  2022-10-31   0.325000    ZTS
46333  2023-01-19   0.375000    ZTS
46334  2023-04-20   0.375000    ZTS

[46335 rows x 3 columns]