In [20]:
import pandas as pd
import yfinance as yf
from yahoo_fin import stock_info as si
from sqlalchemy import create_engine
import urllib
import time
from datetime import datetime
from datetime import date
import datetime

#### **Отримуємо список тікерів, що входять до індексу SP500**

In [6]:
df_SP500 = pd.DataFrame( si.tickers_sp500() )
df_SP500

        0
0       A
1     AAL
2     AAP
3    AAPL
4    ABBV
..    ...
498   YUM
499   ZBH
500  ZBRA
501  ZION
502   ZTS

[503 rows x 1 columns]

In [7]:
ticker_list = df_SP500[df_SP500.columns[0]].values.tolist()
len(ticker_list)

503

In [8]:
ticker_list[0:5]

['A', 'AAL', 'AAP', 'AAPL', 'ABBV']

In [9]:
pd.options.display.max_colwidth = 5000

#### **Отримуємо інформацію про компанію та дані по виплатах дивідендів для всіх акцій з SP500**

In [10]:
df_stock_final = pd.DataFrame()
df_dividend_final = pd.DataFrame()
i = 1

for ticker in ticker_list:
  stock = yf.Ticker(ticker)

  keys_to_extract = ['city','state','zip','website','industry','sector','longBusinessSummary',
                   'marketCap','shortName','longName','symbol','underlyingSymbol']
  stock_filtered = dict(filter(lambda item: item[0] in keys_to_extract, stock.info.items()))
  df_stock = pd.DataFrame(stock_filtered, index=[0])
  df_stock_final=pd.concat([df_stock_final, df_stock], ignore_index=True)

  df_dividends = stock.dividends.to_frame().reset_index()

  if df_dividends.shape[0] > 0:
    df_dividends['Ticker'] = ticker
    df_dividend_final=pd.concat([df_dividend_final, df_dividends], ignore_index=True)
  
  print(str(i) + '. '+ ticker + '. Stock data (rows): ' + str(df_stock.shape[0]) + '. Dividend data (rows): ' + str(df_dividends.shape[0]) + '.')
  i += 1

1. A. Stock data (rows): 1. Dividend data (rows): 46.
2. AAL. Stock data (rows): 1. Dividend data (rows): 23.
3. AAP. Stock data (rows): 1. Dividend data (rows): 69.
4. AAPL. Stock data (rows): 1. Dividend data (rows): 78.
5. ABBV. Stock data (rows): 1. Dividend data (rows): 42.
6. ABC. Stock data (rows): 1. Dividend data (rows): 87.
7. ABT. Stock data (rows): 1. Dividend data (rows): 162.
8. ACGL. Stock data (rows): 1. Dividend data (rows): 0.
9. ACN. Stock data (rows): 1. Dividend data (rows): 39.
10. ADBE. Stock data (rows): 1. Dividend data (rows): 63.
11. ADI. Stock data (rows): 1. Dividend data (rows): 78.
12. ADM. Stock data (rows): 1. Dividend data (rows): 160.
13. ADP. Stock data (rows): 1. Dividend data (rows): 160.
14. ADSK. Stock data (rows): 1. Dividend data (rows): 63.
15. AEE. Stock data (rows): 1. Dividend data (rows): 101.
16. AEP. Stock data (rows): 1. Dividend data (rows): 240.
17. AES. Stock data (rows): 1. Dividend data (rows): 48.
18. AFL. Stock data (rows): 1. Dividend data (rows): 155.
19. AIG. Stock data (rows): 1. Dividend data (rows): 137.
20. AIZ. Stock data (rows): 1. Dividend data (rows): 76.
21. AJG. Stock data (rows): 1. Dividend data (rows): 138.
22. AKAM. Stock data (rows): 1. Dividend data (rows): 0.
23. ALB. Stock data (rows): 1. Dividend data (rows): 118.
24. ALGN. Stock data (rows): 1. Dividend data (rows): 0.
25. ALK. Stock data (rows): 1. Dividend data (rows): 65.
26. ALL. Stock data (rows): 1. Dividend data (rows): 119.
27. ALLE. Stock data (rows): 1. Dividend data (rows): 36.
28. AMAT. Stock data (rows): 1. Dividend data (rows): 72.
29. AMCR. Stock data (rows): 1. Dividend data (rows): 26.
30. AMD. Stock data (rows): 1. Dividend data (rows): 0.
31. AME. Stock data (rows): 1. Dividend data (rows): 155.
32. AMGN. Stock data (rows): 1. Dividend data (rows): 47.
33. AMP. Stock data (rows): 1. Dividend data (rows): 71.
34. AMT. Stock data (rows): 1. Dividend data (rows): 46.
35. AMZN. Stock data (rows): 1. Dividend data (rows): 0.
36. ANET. Stock data (rows): 1. Dividend data (rows): 0.
37. ANSS. Stock data (rows): 1. Dividend data (rows): 0.
38. AON. Stock data (rows): 1. Dividend data (rows): 150.
39. AOS. Stock data (rows): 1. Dividend data (rows): 151.
40. APA. Stock data (rows): 1. Dividend data (rows): 164.
41. APD. Stock data (rows): 1. Dividend data (rows): 159.
42. APH. Stock data (rows): 1. Dividend data (rows): 73.
43. APTV. Stock data (rows): 1. Dividend data (rows): 27.
44. ARE. Stock data (rows): 1. Dividend data (rows): 101.
45. ATO. Stock data (rows): 1. Dividend data (rows): 134.
46. ATVI. Stock data (rows): 1. Dividend data (rows): 13.
47. AVB. Stock data (rows): 1. Dividend data (rows): 100.
48. AVGO. Stock data (rows): 1. Dividend data (rows): 50.
49. AVY. Stock data (rows): 1. Dividend data (rows): 142.
50. AWK. Stock data (rows): 1. Dividend data (rows): 59.
51. AXON. Stock data (rows): 1. Dividend data (rows): 0.
52. AXP. Stock data (rows): 1. Dividend data (rows): 186.
53. AZO. Stock data (rows): 1. Dividend data (rows): 0.
54. BA. Stock data (rows): 1. Dividend data (rows): 228.
55. BAC. Stock data (rows): 1. Dividend data (rows): 148.
56. BALL. Stock data (rows): 1. Dividend data (rows): 152.
57. BAX. Stock data (rows): 1. Dividend data (rows): 146.
58. BBWI. Stock data (rows): 1. Dividend data (rows): 154.
59. BBY. Stock data (rows): 1. Dividend data (rows): 79.
60. BDX. Stock data (rows): 1. Dividend data (rows): 162.
61. BEN. Stock data (rows): 1. Dividend data (rows): 148.
62. BF-B. Stock data (rows): 1. Dividend data (rows): 148.
63. BG. Stock data (rows): 1. Dividend data (rows): 85.
64. BIIB. Stock data (rows): 1. Dividend data (rows): 0.
65. BIO. Stock data (rows): 1. Dividend data (rows): 0.
66. BK. Stock data (rows): 1. Dividend data (rows): 144.
67. BKNG. Stock data (rows): 1. Dividend data (rows): 0.
68. BKR. Stock data (rows): 1. Dividend data (rows): 144.
69. BLK. Stock data (rows): 1. Dividend data (rows): 79.
70. BMY. Stock data (rows): 1. Dividend data (rows): 203.
71. BR. Stock data (rows): 1. Dividend data (rows): 64.
72. BRK-B. Stock data (rows): 1. Dividend data (rows): 0.
73. BRO. Stock data (rows): 1. Dividend data (rows): 146.
74. BSX. Stock data (rows): 1. Dividend data (rows): 0.
75. BWA. Stock data (rows): 1. Dividend data (rows): 100.
76. BXP. Stock data (rows): 1. Dividend data (rows): 103.
77. C. Stock data (rows): 1. Dividend data (rows): 138.
78. CAG. Stock data (rows): 1. Dividend data (rows): 153.
79. CAH. Stock data (rows): 1. Dividend data (rows): 147.
80. CARR. Stock data (rows): 1. Dividend data (rows): 12.
81. CAT. Stock data (rows): 1. Dividend data (rows): 197.
82. CB. Stock data (rows): 1. Dividend data (rows): 121.
83. CBOE. Stock data (rows): 1. Dividend data (rows): 34.
84. CBRE. Stock data (rows): 1. Dividend data (rows): 0.
85. CCI. Stock data (rows): 1. Dividend data (rows): 37.
86. CCL. Stock data (rows): 1. Dividend data (rows): 127.
87. CDAY. Stock data (rows): 1. Dividend data (rows): 0.
88. CDNS. Stock data (rows): 1. Dividend data (rows): 0.
89. CDW. Stock data (rows): 1. Dividend data (rows): 38.
90. CE. Stock data (rows): 1. Dividend data (rows): 72.
91. CEG. Stock data (rows): 1. Dividend data (rows): 5.
92. CF. Stock data (rows): 1. Dividend data (rows): 70.
93. CFG. Stock data (rows): 1. Dividend data (rows): 35.
94. CHD. Stock data (rows): 1. Dividend data (rows): 132.
95. CHRW. Stock data (rows): 1. Dividend data (rows): 104.
96. CHTR. Stock data (rows): 1. Dividend data (rows): 0.
97. CI. Stock data (rows): 1. Dividend data (rows): 125.
98. CINF. Stock data (rows): 1. Dividend data (rows): 148.
99. CL. Stock data (rows): 1. Dividend data (rows): 200.
100. CLX. Stock data (rows): 1. Dividend data (rows): 161.
101. CMA. Stock data (rows): 1. Dividend data (rows): 146.
102. CMCSA. Stock data (rows): 1. Dividend data (rows): 108.
103. CME. Stock data (rows): 1. Dividend data (rows): 93.
104. CMG. Stock data (rows): 1. Dividend data (rows): 0.
105. CMI. Stock data (rows): 1. Dividend data (rows): 154.
106. CMS. Stock data (rows): 1. Dividend data (rows): 121.
107. CNC. Stock data (rows): 1. Dividend data (rows): 0.
108. CNP. Stock data (rows): 1. Dividend data (rows): 247.
109. COF. Stock data (rows): 1. Dividend data (rows): 112.
110. COO. Stock data (rows): 1. Dividend data (rows): 64.
111. COP. Stock data (rows): 1. Dividend data (rows): 171.
112. COST. Stock data (rows): 1. Dividend data (rows): 81.
113. CPB. Stock data (rows): 1. Dividend data (rows): 153.
114. CPRT. Stock data (rows): 1. Dividend data (rows): 0.
115. CPT. Stock data (rows): 1. Dividend data (rows): 120.
116. CRL. Stock data (rows): 1. Dividend data (rows): 0.
117. CRM. Stock data (rows): 1. Dividend data (rows): 0.
118. CSCO. Stock data (rows): 1. Dividend data (rows): 49.
119. CSGP. Stock data (rows): 1. Dividend data (rows): 0.
120. CSX. Stock data (rows): 1. Dividend data (rows): 170.
121. CTAS. Stock data (rows): 1. Dividend data (rows): 44.
122. CTLT. Stock data (rows): 1. Dividend data (rows): 0.
123. CTRA. Stock data (rows): 1. Dividend data (rows): 133.
124. CTSH. Stock data (rows): 1. Dividend data (rows): 24.
125. CTVA. Stock data (rows): 1. Dividend data (rows): 15.
126. CVS. Stock data (rows): 1. Dividend data (rows): 155.
127. CVX. Stock data (rows): 1. Dividend data (rows): 215.
128. CZR. Stock data (rows): 1. Dividend data (rows): 0.
129. D. Stock data (rows): 1. Dividend data (rows): 154.
130. DAL. Stock data (rows): 1. Dividend data (rows): 27.
131. DD. Stock data (rows): 1. Dividend data (rows): 205.
132. DE. Stock data (rows): 1. Dividend data (rows): 203.
133. DFS. Stock data (rows): 1. Dividend data (rows): 62.
134. DG. Stock data (rows): 1. Dividend data (rows): 33.
135. DGX. Stock data (rows): 1. Dividend data (rows): 78.
136. DHI. Stock data (rows): 1. Dividend data (rows): 104.
137. DHR. Stock data (rows): 1. Dividend data (rows): 121.
138. DIS. Stock data (rows): 1. Dividend data (rows): 124.
139. DISH. Stock data (rows): 1. Dividend data (rows): 5.
140. DLR. Stock data (rows): 1. Dividend data (rows): 74.
141. DLTR. Stock data (rows): 1. Dividend data (rows): 0.
142. DOV. Stock data (rows): 1. Dividend data (rows): 162.
143. DOW. Stock data (rows): 1. Dividend data (rows): 16.
144. DPZ. Stock data (rows): 1. Dividend data (rows): 52.
145. DRI. Stock data (rows): 1. Dividend data (rows): 85.
146. DTE. Stock data (rows): 1. Dividend data (rows): 246.
147. DUK. Stock data (rows): 1. Dividend data (rows): 160.
148. DVA. Stock data (rows): 1. Dividend data (rows): 0.
149. DVN. Stock data (rows): 1. Dividend data (rows): 122.
150. DXC. Stock data (rows): 1. Dividend data (rows): 42.
151. DXCM. Stock data (rows): 1. Dividend data (rows): 0.
152. EA. Stock data (rows): 1. Dividend data (rows): 10.
153. EBAY. Stock data (rows): 1. Dividend data (rows): 17.
154. ECL. Stock data (rows): 1. Dividend data (rows): 146.
155. ED. Stock data (rows): 1. Dividend data (rows): 242.
156. EFX. Stock data (rows): 1. Dividend data (rows): 145.
157. EIX. Stock data (rows): 1. Dividend data (rows): 185.
158. EL. Stock data (rows): 1. Dividend data (rows): 77.
159. ELV. Stock data (rows): 1. Dividend data (rows): 49.
160. EMN. Stock data (rows): 1. Dividend data (rows): 117.
161. EMR. Stock data (rows): 1. Dividend data (rows): 203.
162. ENPH. Stock data (rows): 1. Dividend data (rows): 0.
163. EOG. Stock data (rows): 1. Dividend data (rows): 140.
164. EPAM. Stock data (rows): 1. Dividend data (rows): 0.
165. EQIX. Stock data (rows): 1. Dividend data (rows): 35.
166. EQR. Stock data (rows): 1. Dividend data (rows): 121.
167. EQT. Stock data (rows): 1. Dividend data (rows): 138.
168. ES. Stock data (rows): 1. Dividend data (rows): 145.
169. ESS. Stock data (rows): 1. Dividend data (rows): 111.
170. ETN. Stock data (rows): 1. Dividend data (rows): 202.
171. ETR. Stock data (rows): 1. Dividend data (rows): 192.
172. ETSY. Stock data (rows): 1. Dividend data (rows): 0.
173. EVRG. Stock data (rows): 1. Dividend data (rows): 147.
174. EW. Stock data (rows): 1. Dividend data (rows): 0.
175. EXC. Stock data (rows): 1. Dividend data (rows): 201.
176. EXPD. Stock data (rows): 1. Dividend data (rows): 60.
177. EXPE. Stock data (rows): 1. Dividend data (rows): 43.
178. EXR. Stock data (rows): 1. Dividend data (rows): 73.
179. F. Stock data (rows): 1. Dividend data (rows): 172.
180. FANG. Stock data (rows): 1. Dividend data (rows): 20.
181. FAST. Stock data (rows): 1. Dividend data (rows): 82.
182. FCX. Stock data (rows): 1. Dividend data (rows): 88.
183. FDS. Stock data (rows): 1. Dividend data (rows): 98.
184. FDX. Stock data (rows): 1. Dividend data (rows): 84.
185. FE. Stock data (rows): 1. Dividend data (rows): 105.
186. FFIV. Stock data (rows): 1. Dividend data (rows): 0.
187. FICO. Stock data (rows): 1. Dividend data (rows): 100.
188. FIS. Stock data (rows): 1. Dividend data (rows): 81.
189. FISV. Stock data (rows): 1. Dividend data (rows): 0.
190. FITB. Stock data (rows): 1. Dividend data (rows): 147.
191. FLT. Stock data (rows): 1. Dividend data (rows): 0.
192. FMC. Stock data (rows): 1. Dividend data (rows): 73.
193. FOX. Stock data (rows): 1. Dividend data (rows): 9.
194. FOXA. Stock data (rows): 1. Dividend data (rows): 9.
195. FRT. Stock data (rows): 1. Dividend data (rows): 143.
196. FSLR. Stock data (rows): 1. Dividend data (rows): 0.
197. FTNT. Stock data (rows): 1. Dividend data (rows): 0.
198. FTV. Stock data (rows): 1. Dividend data (rows): 27.
199. GD. Stock data (rows): 1. Dividend data (rows): 203.
200. GE. Stock data (rows): 1. Dividend data (rows): 245.
201. GEHC. Stock data (rows): 1. Dividend data (rows): 0.
202. GEN. Stock data (rows): 1. Dividend data (rows): 42.
203. GILD. Stock data (rows): 1. Dividend data (rows): 32.
204. GIS. Stock data (rows): 1. Dividend data (rows): 159.
205. GL. Stock data (rows): 1. Dividend data (rows): 147.
206. GLW. Stock data (rows): 1. Dividend data (rows): 142.
207. GM. Stock data (rows): 1. Dividend data (rows): 28.
208. GNRC. Stock data (rows): 1. Dividend data (rows): 2.
209. GOOG. Stock data (rows): 1. Dividend data (rows): 0.
210. GOOGL. Stock data (rows): 1. Dividend data (rows): 0.
211. GPC. Stock data (rows): 1. Dividend data (rows): 159.
212. GPN. Stock data (rows): 1. Dividend data (rows): 88.
213. GRMN. Stock data (rows): 1. Dividend data (rows): 56.
214. GS. Stock data (rows): 1. Dividend data (rows): 96.
215. GWW. Stock data (rows): 1. Dividend data (rows): 154.
216. HAL. Stock data (rows): 1. Dividend data (rows): 204.
217. HAS. Stock data (rows): 1. Dividend data (rows): 144.
218. HBAN. Stock data (rows): 1. Dividend data (rows): 151.
219. HCA. Stock data (rows): 1. Dividend data (rows): 23.
220. HD. Stock data (rows): 1. Dividend data (rows): 143.
221. HES. Stock data (rows): 1. Dividend data (rows): 155.
222. HIG. Stock data (rows): 1. Dividend data (rows): 109.
223. HII. Stock data (rows): 1. Dividend data (rows): 42.
224. HLT. Stock data (rows): 1. Dividend data (rows): 23.
225. HOLX. Stock data (rows): 1. Dividend data (rows): 0.
226. HON. Stock data (rows): 1. Dividend data (rows): 244.
227. HPE. Stock data (rows): 1. Dividend data (rows): 30.
228. HPQ. Stock data (rows): 1. Dividend data (rows): 209.
229. HRL. Stock data (rows): 1. Dividend data (rows): 147.
230. HSIC. Stock data (rows): 1. Dividend data (rows): 0.
231. HST. Stock data (rows): 1. Dividend data (rows): 118.
232. HSY. Stock data (rows): 1. Dividend data (rows): 151.
233. HUM. Stock data (rows): 1. Dividend data (rows): 93.
234. HWM. Stock data (rows): 1. Dividend data (rows): 22.
235. IBM. Stock data (rows): 1. Dividend data (rows): 243.
236. ICE. Stock data (rows): 1. Dividend data (rows): 38.
237. IDXX. Stock data (rows): 1. Dividend data (rows): 0.
238. IEX. Stock data (rows): 1. Dividend data (rows): 113.
239. IFF. Stock data (rows): 1. Dividend data (rows): 194.
240. ILMN. Stock data (rows): 1. Dividend data (rows): 0.
241. INCY. Stock data (rows): 1. Dividend data (rows): 0.
242. INTC. Stock data (rows): 1. Dividend data (rows): 123.
243. INTU. Stock data (rows): 1. Dividend data (rows): 47.
244. INVH. Stock data (rows): 1. Dividend data (rows): 24.
245. IP. Stock data (rows): 1. Dividend data (rows): 244.
246. IPG. Stock data (rows): 1. Dividend data (rows): 113.
247. IQV. Stock data (rows): 1. Dividend data (rows): 0.
248. IR. Stock data (rows): 1. Dividend data (rows): 6.
249. IRM. Stock data (rows): 1. Dividend data (rows): 56.
250. ISRG. Stock data (rows): 1. Dividend data (rows): 0.
251. IT. Stock data (rows): 1. Dividend data (rows): 1.
252. ITW. Stock data (rows): 1. Dividend data (rows): 146.
253. IVZ. Stock data (rows): 1. Dividend data (rows): 85.
254. J. Stock data (rows): 1. Dividend data (rows): 25.
255. JBHT. Stock data (rows): 1. Dividend data (rows): 130.
256. JCI. Stock data (rows): 1. Dividend data (rows): 144.
257. JKHY. Stock data (rows): 1. Dividend data (rows): 128.
258. JNJ. Stock data (rows): 1. Dividend data (rows): 245.
259. JNPR. Stock data (rows): 1. Dividend data (rows): 35.
260. JPM. Stock data (rows): 1. Dividend data (rows): 158.
261. K. Stock data (rows): 1. Dividend data (rows): 154.
262. KDP. Stock data (rows): 1. Dividend data (rows): 54.
263. KEY. Stock data (rows): 1. Dividend data (rows): 141.
264. KEYS. Stock data (rows): 1. Dividend data (rows): 0.
265. KHC. Stock data (rows): 1. Dividend data (rows): 32.
266. KIM. Stock data (rows): 1. Dividend data (rows): 127.
267. KLAC. Stock data (rows): 1. Dividend data (rows): 73.
268. KMB. Stock data (rows): 1. Dividend data (rows): 154.
269. KMI. Stock data (rows): 1. Dividend data (rows): 49.
270. KMX. Stock data (rows): 1. Dividend data (rows): 0.
271. KO. Stock data (rows): 1. Dividend data (rows): 244.
272. KR. Stock data (rows): 1. Dividend data (rows): 171.
273. L. Stock data (rows): 1. Dividend data (rows): 147.
274. LDOS. Stock data (rows): 1. Dividend data (rows): 47.
275. LEN. Stock data (rows): 1. Dividend data (rows): 148.
276. LH. Stock data (rows): 1. Dividend data (rows): 18.
277. LHX. Stock data (rows): 1. Dividend data (rows): 167.
278. LIN. Stock data (rows): 1. Dividend data (rows): 123.
279. LKQ. Stock data (rows): 1. Dividend data (rows): 6.
280. LLY. Stock data (rows): 1. Dividend data (rows): 203.
281. LMT. Stock data (rows): 1. Dividend data (rows): 156.
282. LNC. Stock data (rows): 1. Dividend data (rows): 152.
283. LNT. Stock data (rows): 1. Dividend data (rows): 146.
284. LOW. Stock data (rows): 1. Dividend data (rows): 152.
285. LRCX. Stock data (rows): 1. Dividend data (rows): 36.
286. LUV. Stock data (rows): 1. Dividend data (rows): 163.
287. LVS. Stock data (rows): 1. Dividend data (rows): 34.
288. LW. Stock data (rows): 1. Dividend data (rows): 26.
289. LYB. Stock data (rows): 1. Dividend data (rows): 47.
290. LYV. Stock data (rows): 1. Dividend data (rows): 0.
291. MA. Stock data (rows): 1. Dividend data (rows): 67.
292. MAA. Stock data (rows): 1. Dividend data (rows): 117.
293. MAR. Stock data (rows): 1. Dividend data (rows): 90.
294. MAS. Stock data (rows): 1. Dividend data (rows): 159.
295. MCD. Stock data (rows): 1. Dividend data (rows): 165.
296. MCHP. Stock data (rows): 1. Dividend data (rows): 82.
297. MCK. Stock data (rows): 1. Dividend data (rows): 114.
298. MCO. Stock data (rows): 1. Dividend data (rows): 90.
299. MDLZ. Stock data (rows): 1. Dividend data (rows): 87.
300. MDT. Stock data (rows): 1. Dividend data (rows): 166.
301. MET. Stock data (rows): 1. Dividend data (rows): 54.
302. META. Stock data (rows): 1. Dividend data (rows): 0.
303. MGM. Stock data (rows): 1. Dividend data (rows): 26.
304. MHK. Stock data (rows): 1. Dividend data (rows): 0.
305. MKC. Stock data (rows): 1. Dividend data (rows): 146.
306. MKTX. Stock data (rows): 1. Dividend data (rows): 54.
307. MLM. Stock data (rows): 1. Dividend data (rows): 115.
308. MMC. Stock data (rows): 1. Dividend data (rows): 162.
309. MMM. Stock data (rows): 1. Dividend data (rows): 243.
310. MNST. Stock data (rows): 1. Dividend data (rows): 1.
311. MO. Stock data (rows): 1. Dividend data (rows): 246.
312. MOH. Stock data (rows): 1. Dividend data (rows): 0.
313. MOS. Stock data (rows): 1. Dividend data (rows): 117.
314. MPC. Stock data (rows): 1. Dividend data (rows): 47.
315. MPWR. Stock data (rows): 1. Dividend data (rows): 37.
316. MRK. Stock data (rows): 1. Dividend data (rows): 242.
317. MRNA. Stock data (rows): 1. Dividend data (rows): 0.
318. MRO. Stock data (rows): 1. Dividend data (rows): 237.
319. MS. Stock data (rows): 1. Dividend data (rows): 122.
320. MSCI. Stock data (rows): 1. Dividend data (rows): 34.
321. MSFT. Stock data (rows): 1. Dividend data (rows): 77.
322. MSI. Stock data (rows): 1. Dividend data (rows): 234.
323. MTB. Stock data (rows): 1. Dividend data (rows): 145.
324. MTCH. Stock data (rows): 1. Dividend data (rows): 18.
325. MTD. Stock data (rows): 1. Dividend data (rows): 0.
326. MU. Stock data (rows): 1. Dividend data (rows): 20.
327. NCLH. Stock data (rows): 1. Dividend data (rows): 0.
328. NDAQ. Stock data (rows): 1. Dividend data (rows): 43.
329. NDSN. Stock data (rows): 1. Dividend data (rows): 145.
330. NEE. Stock data (rows): 1. Dividend data (rows): 160.
331. NEM. Stock data (rows): 1. Dividend data (rows): 148.
332. NFLX. Stock data (rows): 1. Dividend data (rows): 0.
333. NI. Stock data (rows): 1. Dividend data (rows): 148.
334. NKE. Stock data (rows): 1. Dividend data (rows): 143.
335. NOC. Stock data (rows): 1. Dividend data (rows): 166.
336. NOW. Stock data (rows): 1. Dividend data (rows): 0.
337. NRG. Stock data (rows): 1. Dividend data (rows): 44.
338. NSC. Stock data (rows): 1. Dividend data (rows): 165.
339. NTAP. Stock data (rows): 1. Dividend data (rows): 40.
340. NTRS. Stock data (rows): 1. Dividend data (rows): 146.
341. NUE. Stock data (rows): 1. Dividend data (rows): 159.
342. NVDA. Stock data (rows): 1. Dividend data (rows): 42.
343. NVR. Stock data (rows): 1. Dividend data (rows): 10.
344. NWL. Stock data (rows): 1. Dividend data (rows): 145.

In [11]:
df_stock_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 503 entries, 0 to 502
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   city                 502 non-null    object
 1   state                481 non-null    object
 2   zip                  501 non-null    object
 3   website              502 non-null    object
 4   industry             502 non-null    object
 5   sector               502 non-null    object
 6   longBusinessSummary  502 non-null    object
 7   marketCap            503 non-null    int64
 8   symbol               503 non-null    object
 9   underlyingSymbol     503 non-null    object
 10  shortName            503 non-null    object
 11  longName             503 non-null    object
dtypes: int64(1), object(11)
memory usage: 47.3+ KB

In [12]:
df_dividend_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46335 entries, 0 to 46334
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       46335 non-null  datetime64[ns, America/New_York]
 1   Dividends  46335 non-null  float64
 2   Ticker     46335 non-null  object
dtypes: datetime64[ns, America/New_York](1), float64(1), object(1)
memory usage: 1.1+ MB

In [13]:
df_dividend_final

                           Date  Dividends Ticker
0     2006-11-01 00:00:00-05:00   1.471388      A
1     2012-03-30 00:00:00-04:00   0.071531      A
2     2012-06-29 00:00:00-04:00   0.071531      A
3     2012-09-28 00:00:00-04:00   0.071531      A
4     2012-12-27 00:00:00-05:00   0.071531      A
...                         ...        ...    ...
46330 2022-04-20 00:00:00-04:00   0.325000    ZTS
46331 2022-07-20 00:00:00-04:00   0.325000    ZTS
46332 2022-10-31 00:00:00-04:00   0.325000    ZTS
46333 2023-01-19 00:00:00-05:00   0.375000    ZTS
46334 2023-04-20 00:00:00-04:00   0.375000    ZTS

[46335 rows x 3 columns]

In [14]:
df_stock_final.tail(2)

,city,state,zip,website,industry,sector,longBusinessSummary,marketCap,symbol,underlyingSymbol,shortName,longName
501,Salt Lake City,UT,84133-1109,https://www.zionsbancorporation.com,Banks—Regional,Financial Services,"Zions Bancorporation, National Association provides various banking and related services primarily in the states of Arizona, California, Colorado, Idaho, Nevada, New Mexico, Oregon, Texas, Utah, Washington, and Wyoming. The company offers corporate banking services; commercial banking, including a focus on small- and medium-sized businesses; commercial real estate banking services; municipal and public finance services; retail banking, including residential mortgages; trust services; wealth management and private client banking services; and capital markets products and services. The company was formerly known as ZB, National Association and changed its name to Zions Bancorporation, National Association in September 2018. Zions Bancorporation, National Association was founded in 1873 and is headquartered in Salt Lake City, Utah.",3518855936,ZION,ZION,Zions Bancorporation N.A.,"Zions Bancorporation, National Association"
502,Parsippany,NJ,07054,https://www.zoetis.com,Drug Manufacturers—Specialty & Generic,Healthcare,"Zoetis Inc. discovers, develops, manufactures, and commercializes animal health medicines, vaccines, and diagnostic products in the United States and internationally. It commercializes products primarily across species, including livestock, such as cattle, swine, poultry, fish, and sheep and others; and companion animals comprising dogs, cats, and horses. The company also offers parasiticides; vaccines; anti-infectives; other pharmaceutical products; dermatology; and medicated feed additives. In addition, the company provides animal health diagnostics, including point-of-care diagnostic products and laboratory; and other non-pharmaceutical products. It markets its products to veterinarians, livestock producers, and pet owners. The company was founded in 1952 and is headquartered in Parsippany, New Jersey.",86142361600,ZTS,ZTS,Zoetis Inc.,Zoetis Inc.

In [15]:
df_dividend_final['Date'] = pd.to_datetime( df_dividend_final['Date'], errors='coerce',utc=True)

In [16]:
df_dividend_final['Date'] = df_dividend_final['Date'].dt.date

In [17]:
df_dividend_final

             Date  Dividends Ticker
0      2006-11-01   1.471388      A
1      2012-03-30   0.071531      A
2      2012-06-29   0.071531      A
3      2012-09-28   0.071531      A
4      2012-12-27   0.071531      A
...           ...        ...    ...
46330  2022-04-20   0.325000    ZTS
46331  2022-07-20   0.325000    ZTS
46332  2022-10-31   0.325000    ZTS
46333  2023-01-19   0.375000    ZTS
46334  2023-04-20   0.375000    ZTS

[46335 rows x 3 columns]

In [21]:
quoted = urllib.parse.quote_plus("Driver={SQL Server Native Client 11.0};Server=VIKTOR-PC-2001;Database=DividendPolicyResearch;Trusted_Connection=yes;")
engine = create_engine('mssql+pyodbc:///?odbc_connect={}'.format(quoted))

In [22]:
df_dividend_final["date_insert"] = datetime.datetime.now().strftime("%Y-%m-%d")
df_dividend_final["time_insert"] = datetime.datetime.now().strftime("%H:%M:%S")
df_dividend_final

             Date  Dividends Ticker date_insert time_insert
0      2006-11-01   1.471388      A  2023-05-07    01:56:54
1      2012-03-30   0.071531      A  2023-05-07    01:56:54
2      2012-06-29   0.071531      A  2023-05-07    01:56:54
3      2012-09-28   0.071531      A  2023-05-07    01:56:54
4      2012-12-27   0.071531      A  2023-05-07    01:56:54
...           ...        ...    ...         ...         ...
46330  2022-04-20   0.325000    ZTS  2023-05-07    01:56:54
46331  2022-07-20   0.325000    ZTS  2023-05-07    01:56:54
46332  2022-10-31   0.325000    ZTS  2023-05-07    01:56:54
46333  2023-01-19   0.375000    ZTS  2023-05-07    01:56:54
46334  2023-04-20   0.375000    ZTS  2023-05-07    01:56:54

[46335 rows x 5 columns]

In [23]:
df_stock_final["date_insert"] = datetime.datetime.now().strftime("%Y-%m-%d")
df_stock_final["time_insert"] = datetime.datetime.now().strftime("%H:%M:%S")
df_stock_final

,city,state,zip,website,industry,sector,longBusinessSummary,marketCap,symbol,underlyingSymbol,shortName,longName,date_insert,time_insert
0,Santa Clara,CA,95051,https://www.agilent.com,Diagnostics & Research,Healthcare,"Agilent Technologies, Inc. provides application focused solutions to the life sciences, diagnostics, and applied chemical markets worldwide. The Life Sciences and Applied Markets segment offers liquid chromatography systems and components; liquid chromatography mass spectrometry systems; gas chromatography systems and components; gas chromatography mass spectrometry systems; inductively coupled plasma mass spectrometry instruments; atomic absorption instruments; microwave plasma-atomic emission spectrometry instruments; inductively coupled plasma optical emission spectrometry instruments; raman spectroscopy; cell analysis plate based assays; flow cytometer; real-time cell analyzer; cell imaging systems; microplate reader; laboratory software; information management and analytics; laboratory automation and robotic systems; dissolution testing; vacuum pumps, and measurement technologies. The Diagnostics and Genomics segment provides arrays for DNA mutation detection, genotyping, gene copy number determination, identification of gene rearrangements, DNA methylation profiling, gene expression profiling, next generation sequencing, target enrichment and genetic data management, and interpretation support software; and produces synthesized oligonucleotide. It also offers immunohistochemistry in situ hybridization, and hematoxylin and eosin staining and special staining; consumables, and software for quality control analysis of nucleic acid samples; and reagents for use in turbidimetry and flow cytometry, as well as develops liquid-based pharmacodiagnostics. The Agilent CrossLab segment provides GC and LC columns, sample preparation products, custom chemistries, and laboratory instrument supplies; and startup, operational, training, compliance support, software as a service, asset management, and consultation services. The company markets its products through direct sales, distributors, resellers, manufacturer's representatives, and electronic commerce. Agilent Technologies, Inc. was incorporated in 1999 and is headquartered in Santa Clara, California.",39417077760,A,A,"Agilent Technologies, Inc.","Agilent Technologies, Inc.",2023-05-07,01:57:25
1,Fort Worth,TX,76155,https://www.aa.com,Airlines,Industrials,"American Airlines Group Inc., through its subsidiaries, operates as a network air carrier. The company provides scheduled air transportation services for passengers and cargo through its hubs in Charlotte, Chicago, Dallas/Fort Worth, Los Angeles, Miami, New York, Philadelphia, Phoenix, and Washington, D.C., as well as through partner gateways in London, Doha, Madrid, Seattle/Tacoma, Sydney, and Tokyo. As of December 31, 2022, it operated a mainline fleet of 925 aircraft. The company was formerly known as AMR Corporation and changed its name to American Airlines Group Inc. in December 2013. American Airlines Group Inc. was founded in 1926 and is headquartered in Fort Worth, Texas.",9055209472,AAL,AAL,"American Airlines Group, Inc.",American Airlines Group Inc.,2023-05-07,01:57:25
2,Raleigh,NC,27609,https://www.advanceautoparts.com,Specialty Retail,Consumer Cyclical,"Advance Auto Parts, Inc. provides automotive replacement parts, accessories, batteries, and maintenance items for domestic and imported cars, vans, sport utility vehicles, and light and heavy duty trucks. The company offers battery accessories; belts and hoses; brakes and brake pads; chassis and climate control parts; clutches and drive shafts; engines and engine parts; exhaust systems and parts; hub assemblies; ignition components and wires; radiators and cooling parts; starters and alternators; and steering and alignment parts. It also offers air conditioning chemicals and accessories; air fresheners; antifreeze and washer fluids; electrical wires and fuses; electronics; floor mats, seat covers, and interior accessories; hand and specialty tools; lighting products; performance parts; sealants, adhesives, and compounds; tire repair accessories; vent shades, mirrors and exterior accessories; washes, waxes and cleaning supplies; and wiper blades. In addition, the company offers air filters; fuel and oil additives; fuel filters; grease and lubricants; motor oils; oil filters, part cleaners and treatments; and transmission fluids for engine maintenance. Further, it offers battery and wiper installation; engine light scanning and checking; electrical system testing, including batteries, starters, and alternators; oil and battery recycling; and loaner tool program services. Additionally, the company sells its products through its website. It serves professional installers and do-it-yourself customers. The company operates stores under the Advance Auto Parts, Autopart International, and Carquest brands, as well as branches under the Worldpac name. The company has stores in the United States, Puerto Rico, the U.S. Virgin Islands, and Canada; and independently owned Carquest branded stores in Mexico, Grand Cayman, Caribbean Islands. The company was founded in 1929 and is based in Raleigh, North Carolina.",7336317952,AAP,AAP,Advance Auto Parts Inc.,"Advance Auto Parts, Inc.",2023-05-07,01:57:25
3,Cupertino,CA,95014,https://www.apple.com,Consumer Electronics,Technology,"Apple Inc. designs, manufactures, and markets smartphones, personal computers, tablets, wearables, and accessories worldwide. The company offers iPhone, a line of smartphones; Mac, a line of personal computers; iPad, a line of multi-purpose tablets; and wearables, home, and accessories comprising AirPods, Apple TV, Apple Watch, Beats products, and HomePod. It also provides AppleCare support and cloud services; and operates various platforms, including the App Store that allow customers to discover and download applications and digital content, such as books, music, video, games, and podcasts. In addition, the company offers various services, such as Apple Arcade, a game subscription service; Apple Fitness+, a personalized fitness service; Apple Music, which offers users a curated listening experience with on-demand radio stations; Apple News+, a subscription news and magazine service; Apple TV+, which offers exclusive original content; Apple Card, a co-branded credit card; and Apple Pay, a cashless payment service, as well as licenses its intellectual property. The company serves consumers, and small and mid-sized businesses; and the education, enterprise, and government markets. It distributes third-party applications for its products through the App Store. The company also sells its products through its retail and online stores, and direct sales force; and third-party cellular network carriers, wholesalers, retailers, and resellers. Apple Inc. was incorporated in 1977 and is headquartered in Cupertino, California.",2746207174656,AAPL,AAPL,Apple Inc.,Apple Inc.,2023-05-07,01:57:25
4,North Chicago,IL,60064-6400,https://www.abbvie.com,Drug Manufacturers—General,Healthcare,"AbbVie Inc. discovers, develops, manufactures, and sells pharmaceuticals worldwide. The company offers Humira, a therapy administered as an injection for autoimmune, intestinal Behçet's diseases, and pyoderma gangrenosum; Skyrizi to treat moderate to severe plaque psoriasis, psoriatic disease, and Crohn's disease; Rinvoq, a JAK inhibitor to treat rheumatoid and psoriatic arthritis, ankylosing spondylitis, atopic dermatitis, axial spondyloarthropathy, and ulcerative colitis; Imbruvica for the treatment of adult patients with blood cancers; and Venclexta/Venclyxto to treat hematological malignancies. It also provides facial injectables, plastics and regenerative medicine, body contouring, and skincare products; Vraylar for depressive disorder; Duopa and Duodopa to treat advanced Parkinson's disease; and Ubrelvy for the acute treatment of migraine with or without aura in adults; Qulipta for episodic migraine. In addition, the company offers Lumigan/Ganfort and Alphagan/Combigan for the reduction of elevated intraocular pressure(IOP) in patients with open angle glaucoma (OAG) or ocular hypertension; Restasis, a calcineurin inhibitor immunosuppressant indicated to increase tear production; and eye care products. Further, it provides Mavyret/Maviret to treat chronic hepatitis C virus (HCV) genotype 1-6 infection and HCV genotype 1 infection; Creon, a pancreatic enzyme therapy; Lupron to treat advanced prostate cancer, endometriosis and central precocious puberty, and patients with anemia caused by uterine fibroids; Linzess/Constella to treat irritable bowel syndrome with constipation and chronic idiopathic constipation; and Synthroid for hypothyroidism. It has collaborations with Calico Life Sciences LLC; REGENXBIO Inc.; I-Mab Biopharma; Genmab A/S; Janssen Biotech, Inc.; and Genentech, Inc. The company was incorporated in 2012 and is headquartered in North Chicago, Illinois.",261145640960,ABBV,ABBV,AbbVie Inc.,AbbVie Inc.,2023-05-07,01:57:25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
498,Louisville,KY,40213,https://www.yum.com,Restaurants,Consumer Cyclical,"Yum! Brands, Inc., together with its subsidiaries, develops, operates, and franchises quick service restaurants worldwide. The company operates through four segments: the KFC Division, the Taco Bell Division, the Pizza Hut Division, and the Habit Burger Grill Division. It operates restaurants under the KFC, Pizza Hut, Taco Bell, and The Habit Burger Grill brands, which specialize in chicken, pizza, made-to-order chargrilled burgers, sandwiches, Mexican-style food categories, and other food products. The company was formerly known as TRICON Global Restaurants, Inc. and changed its name to Yum! Brands, Inc. in May 2002. Yum! Brands, Inc. was incorporated in 1997 and is headquartered in Louisville, Kentucky.",38497202176,YUM,YUM,"Yum! Brands, Inc.","Yum! Brands, Inc.",2023-05-07,01:57:25
499,Warsaw,IN,46580,https://www.zimmerbiomet.com,Medical Devices,Healthcare,"Zimmer Biomet Holdings, Inc., together with its subsidiaries, operates as a medical technology company in the Americas, Europe, the Middle East, Africa, and the Asia Pacific. The company designs, manufactures, and markets orthopaedic reconstructive products, such as knee and hip products; S.E.T. products, including sports medicine, biologics, foot and ankle, extremities, and trauma products; craniomaxillofacial and thoracic products comprising face and skull reconstruction products, as well as products that fixate and stabilize the bones of the chest to facilitate healing or reconstruction after open heart surgery, trauma, or for deformities of the chest. It also offers robotic, surgical, and bone cement products. The company's products and solutions are used to treat patients suffering from disorders of, or injuries to, bones, joints, or supporting soft tissues. It serves orthopaedic surgeons, neurosurgeons, hospitals, stocking distributors, healthcare dealers, and other specialists, as well as agents, healthcare purchasing organizations, or buying groups. The company was formerly known as Zimmer Holdings, Inc. and changed its name to Zimmer Biomet Holdings, Inc. in June 2015. Zimmer Biomet Holdings, Inc. was founded in 1927 and is headquartered in Warsaw, Indiana.",28933242880,ZBH,ZBH,"Zimmer Biomet Holdings, Inc.","Zimmer Biomet Holdings, Inc.",2023-05-07,01:57:25
500,Lincolnshire,IL,60069,https://www.zebra.com,Communication Equipment,Technology,"Zebra Technologies Corporation, together with its subsidiaries, provides enterprise asset intelligence solutions in the automatic identification and data capture solutions industry worldwide. It operates in two segments, Asset Intelligence & Tracking and Enterprise Visibility & Mobility. The company designs, manufactures, and sells printers, which produce labels, wristbands, tickets, receipts, and plastic cards; dye-sublimination thermal card printers, which produce images which are used for personal identification, access control, and financial transactions; RFID printers that encode data into passive RFID transponders; accessories and options for our printers, including vehicle mounts and battery chargers; stock and customized thermal labels, receipts, ribbons, plastic cards, and RFID tags for printers; and temperature-monitoring labels primarily used in vaccine distribution. It also provides various maintenance, technical support, repair, and managed and professional services; real-time location systems and services; and tags, sensors, exciters, middleware software, and application software; as well as physical inventory management solutions, and rugged tablets and enterprise-grade mobile computing products and accessories. In addition, the company offers barcode scanners, RFID readers, industrial machine vision cameras, and fixed industrial scanners, workforce management solutions, workflow execution and task management solutions, and prescriptive analytics solutions, as well as communications and collaboration solutions. It also provides cloud-based software subscriptions and robotics automation solutions. The company serves retail and e-commerce, manufacturing, transportation and logistics, healthcare, public sector, and other industries through direct sales force, and network of channel partners. The company was founded in 1969 and is headquartered in Lincolnshire, Illinois.",14081615872,ZBRA,ZBRA,Zebra Technologies Corporation,Zebra Technologies Corporation,2023-05-07,01:57:25
501,Salt Lake City,UT,84133-1109,https://www.zionsbancorporation.com,Banks—Regional,Financial Services,"Zions Bancorporation, National Association provides various banking and related services primarily in the states of Arizona, California, Colorado, Idaho, Nevada, New Mexico, Oregon, Texas, Utah, Washington, and Wyoming. The company offers corporate banking services; commercial banking, including a focus on small- and medium-sized businesses; commercial real estate banking services; municipal and public finance services; retail banking, including residential mortgages; trust services; wealth management and private client banking services; and capital markets products and services. The company was formerly known as ZB, National Association and changed its name to Zions Bancorporation, National Association in September 2018. Zions Bancorporation, National Association was founded in 1873 and is headquartered in Salt Lake City, Utah.",3518855936,ZION,ZION,Zions Bancorporation N.A.,"Zions Bancorporation, National Association",2023-05-07,01:57:25
502,Parsippany,NJ,07054,https://www.zoetis.com,Drug Manufacturers—Specialty & Generic,Healthcare,"Zoetis Inc. discovers, develops, manufactures, and commercializes animal health medicines, vaccines, and diagnostic products in the United States and internationally. It commercializes products primarily across species, including livestock, such as cattle, swine, poultry, fish, and sheep and others; and companion animals comprising dogs, cats, and horses. The company also offers parasiticides; vaccines; anti-infectives; other pharmaceutical products; dermatology; and medicated feed additives. In addition, the company provides animal health diagnostics, including point-of-care diagnostic products and laboratory; and other non-pharmaceutical products. It markets its products to veterinarians, livestock producers, and pet owners. The company was founded in 1952 and is headquartered in Parsippany, New Jersey.",86142361600,ZTS,ZTS,Zoetis Inc.,Zoetis Inc.,2023-05-07,01:57:25

In [27]:
df_SP500 = df_SP500.rename(columns={0: "ticker"})

In [28]:
df_SP500

    ticker
0        A
1      AAL
2      AAP
3     AAPL
4     ABBV
..     ...
498    YUM
499    ZBH
500   ZBRA
501   ZION
502    ZTS

[503 rows x 1 columns]

In [29]:
df_SP500["date_insert"] = datetime.datetime.now().strftime("%Y-%m-%d")
df_SP500["time_insert"] = datetime.datetime.now().strftime("%H:%M:%S")
df_SP500

    ticker date_insert time_insert
0        A  2023-05-07    01:59:17
1      AAL  2023-05-07    01:59:17
2      AAP  2023-05-07    01:59:17
3     AAPL  2023-05-07    01:59:17
4     ABBV  2023-05-07    01:59:17
..     ...         ...         ...
498    YUM  2023-05-07    01:59:17
499    ZBH  2023-05-07    01:59:17
500   ZBRA  2023-05-07    01:59:17
501   ZION  2023-05-07    01:59:17
502    ZTS  2023-05-07    01:59:17

[503 rows x 3 columns]

In [31]:
df_SP500.to_sql('tb_sp500_tickers', schema='dbo', con = engine, if_exists='append',index=False)

In [33]:
result = engine.execute('SELECT COUNT(*) FROM [dbo].[tb_sp500_tickers]')
result.fetchall()[0][0]

503

In [37]:
df_dividend_final.to_sql('tb_dividends', schema='dbo', con = engine, if_exists='append',index=False)

In [38]:
result = engine.execute('SELECT COUNT(*) FROM [dbo].[tb_dividends]')
result.fetchall()[0][0]

46335

In [39]:
df_stock_final.to_sql('tb_company_info', schema='dbo', con = engine, if_exists='append',index=False)

In [40]:
result = engine.execute('SELECT COUNT(*) FROM [dbo].[tb_company_info]')
result.fetchall()[0][0]

503