In [1]:
import yfinance as yf

In [3]:
apple = yf.Ticker("AAPL")
splits = apple.splits

In [4]:
splits

Date
1987-06-16 00:00:00-04:00    2.0
2000-06-21 00:00:00-04:00    2.0
2005-02-28 00:00:00-05:00    2.0
2014-06-09 00:00:00-04:00    7.0
2020-08-31 00:00:00-04:00    4.0
Name: Stock Splits, dtype: float64

In [5]:
apple.dividends

Date
1987-05-11 00:00:00-04:00    0.000536
1987-08-10 00:00:00-04:00    0.000536
1987-11-17 00:00:00-05:00    0.000714
1988-02-12 00:00:00-05:00    0.000714
1988-05-16 00:00:00-04:00    0.000714
                               ...
2022-11-04 00:00:00-04:00    0.230000
2023-02-10 00:00:00-05:00    0.230000
2023-05-12 00:00:00-04:00    0.240000
2023-08-11 00:00:00-04:00    0.240000
2023-11-10 00:00:00-05:00    0.240000
Name: Dividends, Length: 81, dtype: float64

In [7]:
GOOG = yf.Ticker("GOOG")
splits = GOOG.splits
splits

Date
2014-03-27 00:00:00-04:00     2.002000
2015-04-27 00:00:00-04:00     1.002746
2022-07-18 00:00:00-04:00    20.000000
Name: Stock Splits, dtype: float64

In [8]:
GOOGL = yf.Ticker("GOOGL")
splits = GOOGL.splits
splits

Date
2014-04-03 00:00:00-04:00     1.998
2022-07-18 00:00:00-04:00    20.000
Name: Stock Splits, dtype: float64