In [1]:
import pandas as pd
import yfinance as yf
from yahoo_fin import stock_info as si
from sqlalchemy import create_engine
import urllib
import time
from datetime import datetime
from datetime import date
import datetime

#### **Отримуємо список тікерів, що входять до індексу SP100**

In [2]:
quoted = urllib.parse.quote_plus("Driver={SQL Server Native Client 11.0};Server=VIKTOR-PC-2001;Database=DividendPolicyResearch;Trusted_Connection=yes;")
engine = create_engine('mssql+pyodbc:///?odbc_connect={}'.format(quoted))

In [18]:
engine.execute('''
                update [dbo].[tb_sp100_tickers]
                set [Ticker] = 'BRK-B'
                from [dbo].[tb_sp100_tickers]
                where [Ticker] = 'BRKB';
                ''')

In [19]:
result = engine.execute('SELECT [Ticker] FROM [dbo].[tb_sp100_tickers]')
df_SP100 = pd.DataFrame(result.fetchall())
df_SP100

        0
0    AAPL
1    ABBV
2     ABT
3     ACN
4    ADBE
..    ...
96      V
97     VZ
98    WFC
99    WMT
100   XOM

[101 rows x 1 columns]

In [20]:
ticker_list = df_SP100[df_SP100.columns[0]].values.tolist()
len(ticker_list)

101

In [21]:
ticker_list[0:5]

['AAPL', 'ABBV', 'ABT', 'ACN', 'ADBE']

In [22]:
pd.options.display.max_colwidth = 5000

#### **Отримуємо інформацію про компанію та дані по виплатах дивідендів для всіх акцій з SP100**

In [10]:
!pip install --upgrade yfinance

Requirement already satisfied: yfinance in d:\python\lib\site-packages (0.2.18)

[notice] A new release of pip is available: 23.3 -> 23.3.2
[notice] To update, run: python.exe -m pip install --upgrade pip

Collecting yfinance
  Downloading yfinance-0.2.33-py2.py3-none-any.whl.metadata (11 kB)
Requirement already satisfied: pandas>=1.3.0 in d:\python\lib\site-packages (from yfinance) (1.3.5)
Requirement already satisfied: numpy>=1.16.5 in d:\python\lib\site-packages (from yfinance) (1.19.5)
Collecting requests>=2.31 (from yfinance)
  Downloading requests-2.31.0-py3-none-any.whl.metadata (4.6 kB)
Requirement already satisfied: multitasking>=0.0.7 in d:\python\lib\site-packages (from yfinance) (0.0.9)
Requirement already satisfied: lxml>=4.9.1 in d:\python\lib\site-packages (from yfinance) (4.9.2)
Requirement already satisfied: appdirs>=1.4.4 in d:\python\lib\site-packages (from yfinance) (1.4.4)
Requirement already satisfied: pytz>=2022.5 in d:\python\lib\site-packages (from yfinance) (2023.3)
Requirement already satisfied: frozendict>=2.3.4 in d:\python\lib\site-packages (from yfinance) (2.3.7)
Collecting peewee>=3.16.2 (from yfinance)
  Downloading peewee-3.17.0.tar.gz (2.9 MB)
     ---------------------------------------- 2.9/2.9 MB 370.8 kB/s eta 0:00:00
  Installing build dependencies: started
  Installing build dependencies: finished with status 'done'
  Getting requirements to build wheel: started
  Getting requirements to build wheel: finished with status 'done'
  Preparing metadata (pyproject.toml): started
  Preparing metadata (pyproject.toml): finished with status 'done'
Requirement already satisfied: beautifulsoup4>=4.11.1 in d:\python\lib\site-packages (from yfinance) (4.12.2)
Requirement already satisfied: html5lib>=1.1 in d:\python\lib\site-packages (from yfinance) (1.1)
Requirement already satisfied: soupsieve>1.2 in d:\python\lib\site-packages (from beautifulsoup4>=4.11.1->yfinance) (2.2.1)
Requirement already satisfied: six>=1.9 in d:\python\lib\site-packages (from html5lib>=1.1->yfinance) (1.15.0)
Requirement already satisfied: webencodings in d:\python\lib\site-packages (from html5lib>=1.1->yfinance) (0.5.1)
Requirement already satisfied: python-dateutil>=2.7.3 in d:\python\lib\site-packages (from pandas>=1.3.0->yfinance) (2.8.1)
Requirement already satisfied: charset-normalizer<4,>=2 in d:\python\lib\site-packages (from requests>=2.31->yfinance) (3.1.0)
Requirement already satisfied: idna<4,>=2.5 in d:\python\lib\site-packages (from requests>=2.31->yfinance) (2.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in d:\python\lib\site-packages (from requests>=2.31->yfinance) (1.26.4)
Requirement already satisfied: certifi>=2017.4.17 in d:\python\lib\site-packages (from requests>=2.31->yfinance) (2022.12.7)
Downloading yfinance-0.2.33-py2.py3-none-any.whl (69 kB)
   ---------------------------------------- 69.0/69.0 kB 539.2 kB/s eta 0:00:00
Downloading requests-2.31.0-py3-none-any.whl (62 kB)
   ---------------------------------------- 62.6/62.6 kB 556.7 kB/s eta 0:00:00
Building wheels for collected packages: peewee
  Building wheel for peewee (pyproject.toml): started
  Building wheel for peewee (pyproject.toml): finished with status 'done'
  Created wheel for peewee: filename=peewee-3.17.0-py3-none-any.whl size=135766 sha256=f391f9f457a4ab5a17f99ecabdd4f0c564f530e45d28b70b5a72fd6eca93f65d
  Stored in directory: c:\users\51fb~1\appdata\local\pip\cache\wheels\c2\ce\84\33a31720d239d310cfff49d7bf56da412b6caefec2e112f327
Successfully built peewee
Installing collected packages: peewee, requests, yfinance
  Attempting uninstall: requests
    Found existing installation: requests 2.28.2
    Uninstalling requests-2.28.2:
      Successfully uninstalled requests-2.28.2
  Attempting uninstall: yfinance
    Found existing installation: yfinance 0.2.18
    Uninstalling yfinance-0.2.18:
      Successfully uninstalled yfinance-0.2.18
Successfully installed peewee-3.17.0 requests-2.31.0 yfinance-0.2.33

In [23]:
df_stock_final = pd.DataFrame()
df_dividend_final = pd.DataFrame()
i = 1

for ticker in ticker_list:
  stock = yf.Ticker(ticker)

  df_dividends = stock.dividends.to_frame().reset_index()

  if df_dividends.shape[0] > 0:
    df_dividends['Ticker'] = ticker
    df_dividend_final=pd.concat([df_dividend_final, df_dividends], ignore_index=True)
  
  print(str(i) + '. '+ ticker + '. Dividend data (rows): ' + str(df_dividends.shape[0]) + '.')
  i += 1

1. AAPL. Dividend data (rows): 81.
2. ABBV. Dividend data (rows): 44.
3. ABT. Dividend data (rows): 164.
4. ACN. Dividend data (rows): 41.
5. ADBE. Dividend data (rows): 63.
6. AIG. Dividend data (rows): 140.
7. AMD. Dividend data (rows): 0.
8. AMGN. Dividend data (rows): 50.
9. AMT. Dividend data (rows): 49.
10. AMZN. Dividend data (rows): 0.
11. AVGO. Dividend data (rows): 53.
12. AXP. Dividend data (rows): 188.
13. BA. Dividend data (rows): 228.
14. BAC. Dividend data (rows): 151.
15. BK. Dividend data (rows): 146.
16. BKNG. Dividend data (rows): 0.
17. BLK. Dividend data (rows): 82.
18. BMY. Dividend data (rows): 205.
19. BRK-B. Dividend data (rows): 0.
20. C. Dividend data (rows): 140.
21. CAT. Dividend data (rows): 199.
22. CHTR. Dividend data (rows): 0.
23. CL. Dividend data (rows): 202.
24. CMCSA. Dividend data (rows): 110.
25. COF. Dividend data (rows): 115.
26. COP. Dividend data (rows): 176.
27. COST. Dividend data (rows): 84.
28. CRM. Dividend data (rows): 0.
29. CSCO. Dividend data (rows): 51.
30. CVS. Dividend data (rows): 157.
31. CVX. Dividend data (rows): 218.
32. DE. Dividend data (rows): 206.
33. DHR. Dividend data (rows): 124.
34. DIS. Dividend data (rows): 125.
35. DOW. Dividend data (rows): 19.
36. DUK. Dividend data (rows): 163.
37. EMR. Dividend data (rows): 206.
38. EXC. Dividend data (rows): 204.
39. F. Dividend data (rows): 174.
40. FDX. Dividend data (rows): 87.
41. GD. Dividend data (rows): 205.
42. GE. Dividend data (rows): 248.
43. GILD. Dividend data (rows): 35.
44. GM. Dividend data (rows): 31.
45. GOOG. Dividend data (rows): 0.
46. GOOGL. Dividend data (rows): 0.
47. GS. Dividend data (rows): 99.
48. HD. Dividend data (rows): 146.
49. HON. Dividend data (rows): 247.
50. IBM. Dividend data (rows): 246.
51. INTC. Dividend data (rows): 125.
52. JNJ. Dividend data (rows): 248.
53. JPM. Dividend data (rows): 160.
54. KHC. Dividend data (rows): 35.
55. KO. Dividend data (rows): 247.
56. LIN. Dividend data (rows): 126.
57. LLY. Dividend data (rows): 206.
58. LMT. Dividend data (rows): 159.
59. LOW. Dividend data (rows): 154.
60. MA. Dividend data (rows): 69.
61. MCD. Dividend data (rows): 168.
62. MDLZ. Dividend data (rows): 90.
63. MDT. Dividend data (rows): 169.
64. MET. Dividend data (rows): 57.
65. META. Dividend data (rows): 0.
66. MMM. Dividend data (rows): 246.
67. MO. Dividend data (rows): 249.
68. MRK. Dividend data (rows): 245.
69. MS. Dividend data (rows): 124.
70. MSFT. Dividend data (rows): 80.
71. NEE. Dividend data (rows): 163.
72. NFLX. Dividend data (rows): 0.
73. NKE. Dividend data (rows): 146.
74. NVDA. Dividend data (rows): 45.
75. ORCL. Dividend data (rows): 58.
76. PEP. Dividend data (rows): 208.
77. PFE. Dividend data (rows): 206.
78. PG. Dividend data (rows): 249.
79. PM. Dividend data (rows): 64.
80. PYPL. Dividend data (rows): 0.
81. QCOM. Dividend data (rows): 85.
82. RTX. Dividend data (rows): 246.
83. SBUX. Dividend data (rows): 55.
84. SCHW. Dividend data (rows): 139.
85. SO. Dividend data (rows): 168.
86. SPG. Dividend data (rows): 123.
87. T. Dividend data (rows): 158.
88. TGT. Dividend data (rows): 163.
89. TMO. Dividend data (rows): 52.
90. TMUS. Dividend data (rows): 2.
91. TSLA. Dividend data (rows): 0.
92. TXN. Dividend data (rows): 206.
93. UNH. Dividend data (rows): 76.
94. UNP. Dividend data (rows): 176.
95. UPS. Dividend data (rows): 97.
96. USB. Dividend data (rows): 140.
97. V. Dividend data (rows): 62.
98. VZ. Dividend data (rows): 158.
99. WFC. Dividend data (rows): 208.
100. WMT. Dividend data (rows): 198.
101. XOM. Dividend data (rows): 247.

In [24]:
df_dividend_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12557 entries, 0 to 12556
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       12557 non-null  datetime64[ns, America/New_York]
 1   Dividends  12557 non-null  float64
 2   Ticker     12557 non-null  object
dtypes: datetime64[ns, America/New_York](1), float64(1), object(1)
memory usage: 294.4+ KB

In [25]:
df_dividend_final

                           Date  Dividends Ticker
0     1987-05-11 00:00:00-04:00   0.000536   AAPL
1     1987-08-10 00:00:00-04:00   0.000536   AAPL
2     1987-11-17 00:00:00-05:00   0.000714   AAPL
3     1988-02-12 00:00:00-05:00   0.000714   AAPL
4     1988-05-16 00:00:00-04:00   0.000714   AAPL
...                         ...        ...    ...
12552 2022-11-14 00:00:00-05:00   0.910000    XOM
12553 2023-02-13 00:00:00-05:00   0.910000    XOM
12554 2023-05-15 00:00:00-04:00   0.910000    XOM
12555 2023-08-15 00:00:00-04:00   0.910000    XOM
12556 2023-11-14 00:00:00-05:00   0.950000    XOM

[12557 rows x 3 columns]

In [26]:
df_dividend_final['Date'] = pd.to_datetime( df_dividend_final['Date'], errors='coerce',utc=True)

In [27]:
df_dividend_final['Date'] = df_dividend_final['Date'].dt.date

In [28]:
df_dividend_final

             Date  Dividends Ticker
0      1987-05-11   0.000536   AAPL
1      1987-08-10   0.000536   AAPL
2      1987-11-17   0.000714   AAPL
3      1988-02-12   0.000714   AAPL
4      1988-05-16   0.000714   AAPL
...           ...        ...    ...
12552  2022-11-14   0.910000    XOM
12553  2023-02-13   0.910000    XOM
12554  2023-05-15   0.910000    XOM
12555  2023-08-15   0.910000    XOM
12556  2023-11-14   0.950000    XOM

[12557 rows x 3 columns]

In [29]:
df_dividend_final["date_insert"] = datetime.datetime.now().strftime("%Y-%m-%d")
df_dividend_final["time_insert"] = datetime.datetime.now().strftime("%H:%M:%S")
df_dividend_final

             Date  Dividends Ticker date_insert time_insert
0      1987-05-11   0.000536   AAPL  2024-01-02    18:15:06
1      1987-08-10   0.000536   AAPL  2024-01-02    18:15:06
2      1987-11-17   0.000714   AAPL  2024-01-02    18:15:06
3      1988-02-12   0.000714   AAPL  2024-01-02    18:15:06
4      1988-05-16   0.000714   AAPL  2024-01-02    18:15:06
...           ...        ...    ...         ...         ...
12552  2022-11-14   0.910000    XOM  2024-01-02    18:15:06
12553  2023-02-13   0.910000    XOM  2024-01-02    18:15:06
12554  2023-05-15   0.910000    XOM  2024-01-02    18:15:06
12555  2023-08-15   0.910000    XOM  2024-01-02    18:15:06
12556  2023-11-14   0.950000    XOM  2024-01-02    18:15:06

[12557 rows x 5 columns]

In [30]:
df_dividend_final.to_sql('tb_dividends', schema='dbo', con = engine, if_exists='append',index=False)

In [31]:
result = engine.execute('SELECT COUNT(*) FROM [dbo].[tb_dividends]')
result.fetchall()[0][0]

58892

In [35]:
result = engine.execute('SELECT count(*) FROM [DividendPolicyResearch].[dbo].[tb_dividends] where year(date_insert) = 2024')
result.fetchall()[0][0]

12557